- content_for :header do
  %header#main-header{:role => "banner"}
    .head-scroller
      = link_to 'GCES', root_path, class: 'action-link icon-arrow-left site-brand'
      %h1.page-title Assign Business Unit Roles
      %p.page-description Introduction lorem sit amet quosque tandem set numa consect tandem.
      .menu-vertical
        %ul.list-steps
          %li.step.checked Name
          %li.step Email Address
          %li.step Verify Email
          %li.step Assign Roles
        %ul.qa-list
          %li
            %span.ui-toggle{"data-target" => "qa-1", "data-type" => "cm-toggle"} What are the Business Units Roles?
            .qa-content.ui-target{"data-section" => "qa-1"}
              %p This is a sample of how to include answers in this qa list. Lorem ipsum sit amet quosque tandem numa lum consecter.
          %li Another question can be added that will point to sections of the infographics?
          %li Lorem ipsum sit amet set quosque tandem?
        .next-steps
          %a.icon-arrow-right.next-step{:href => "#"} Next Step
          %p.next-step-title Preliminary Work Agreement
%header.page-header
%section.page-content.grid-9-12.ui-accordion-cards
  = simple_form_for(@unit_role, method: :put,
      url: do_assign_business_role_account_managers_path, html: {class: 'theme-gces'}) do |f|
    = render 'shared/base_error', model: @unit_role
    %section.ui-card.icon-profile2.profile
      = f.input :email, required: false, placeholder: 'Email',
        :url => autocomplete_user_email_account_managers_path, :as => :autocomplete,
        wrapper: :custom_input, input_wrapper_html: { class: 'icon-email' }
      .grid.columns-2.margin-top-1r{:role => "grid"}
        .grid-6-12{:role => "gridcell"}
          = f.input :first_name, required: false, placeholder: 'First Name', wrapper: :custom_input, input_wrapper_html: { class: 'icon-profile' }
        .grid-6-12{:role => "gridcell"}
          = f.input :last_name, required: false, placeholder: 'Last Name', wrapper: :custom_input, input_wrapper_html: { class: 'icon-profile' }
      %section.section-block.user-permissions
        %h3 Select One or More User Permissions
        %section.card-section
          .ui-checkbox.medium
            = f.check_box :selection_authority, {id: 'selection-authority'}, true, false
            %label{:for => "selection-authority"} Selection Authority
          .button-circle.icon-question{"data-placement" => "bottom", "data-template" => "question-sample1b", "data-type" => "cm-popover"}
            %div{"data-type" => "template-question-sample1b"}
              %p Include explanation about this section here.
        %section.card-section
          .ui-checkbox.medium
            = f.check_box :requisition_authority, {id: 'requisition-authority'}, true, false
            %label{:for => "requisition-authority"} Requisition Authority
          .button-circle.icon-question{"data-placement" => "bottom", "data-template" => "question-sample1b", "data-type" => "cm-popover"}
            %div{"data-type" => "template-question-sample1b"}
              %p Include explanation about this section here.
        %section.card-section
          .ui-checkbox.medium
            = f.check_box :approval_authority, {id: 'approval-authority'}, true, false
            %label{:for => "approval-authority"} Approval Authority
          .button-circle.icon-question{"data-placement" => "bottom", "data-template" => "question-sample1b", "data-type" => "cm-popover"}
            %div{"data-type" => "template-question-sample1b"}
              %p Include explanation about this section here.
      = button_tag 'Add User Business Roles', type: 'submit', class: "button-cta button-primary icon-cr-arrow-right"

- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground
  .ui-popover
