- content_for :header do
  %header#main-header{:role => "banner"}
    = link_to 'GCES', root_path, class: 'site-brand'
    .head-scroller
      %nav.main-menu.menu-vertical{:role => "navigation"}
        %ul
          %li
            %a{:href => ""} What we do
          %li
            %a{:href => ""} Join the Exchange
          %li
            %a{:href => ""} Community Forum
          %li
            %a{:href => ""} Tutorials
          %li
            %a{:href => ""} Education
          %li
            %a{:href => ""} Articles
      %ul.qa-list{:style => "margin-top: 4rem;"}
        %li.is-active
          %span.ui-toggle{"data-target" => "qa-1", "data-type" => "cm-toggle"} What is a Draft Consultant Work Agreement?
          .qa-content.ui-target.is-open{"data-section" => "qa-1"}
            %p This is a sample of how to include answers in this qa list. Lorem ipsum sit amet quosque tandem numa lum consecter.
        %li What is a Statement of Work?

%header.page-header.dashboard-header
  %nav.dashboard-menu{:role => "navigation"}
    %ul.menu-horizontal
      %li.active
        %a{:href => ""} Company
      %li
        %a{:href => ""} Projects
      %li
        %a{:href => ""} Reports
      %li
        %a{:href => ""} Account
.page-content
  %section
    %section.entity-company.taxonomy-view
      %header.ui-box.taxonomy-head{"data-section" => "toggle-head", "data-toggle-container" => ""}
        .entity-head{"data-ignore-global-close" => "1", "data-target" => "toggle-head", "data-type" => "cm-toggle"}
          %h1 Tesla Automobiles, Inc
          .ui-panel-toggle.icon-cr-plus-full
        .entity-info.grid.columns-3.ui-panel{"data-section" => "toggle-head", "data-slide-open" => ""}
          .grid-4-12
            %h3 Company Address
            %p= @owned_company.address
          .grid-4-12
            %h3 Company Contract POC
            %p.name= @owned_company.owner.full_name.split.map(&:capitalize).join(' ')
            %p.email= @owned_company.owner.email
            %p= @owned_company.work_phone
          .grid-4-12
            %h3 Company Documents
            %ul.doc-list
              %li
                = link_to_if(@owned_company.gsc.present?, @owned_company.gsc_file_name, download_gsc_path(@owned_company), target: '_blank') {}
              %li
                = link_to_if(@owned_company.contract.present?, @owned_company.contract_file_name, download_contract_rider_path(@owned_company), target: '_blank') {}
      %section.taxonomy-units
        %section.row.unit-maximized.connect-rule-up
          %header.unit-head.invalid
            %h2= @unit_role.business_unit_name.name
          %section.ui-tabs
            %article.tab-panel.is-open
              %section.ui-box.automated-workflow-process.internal
                .illustration-wrapper
                  .box-community
                    = image_tag 'svg/infographics/consultant.png', class: 'selected-consultant'
                    = image_tag 'svg/infographics/community.png', class: 'all-consultants'
                    = image_tag 'svg/infographics/community_on.png', class: 'all-consultants-on'
                    .community-label
                      %h2 Network of Consultants
                  .box-selection
                    .illustration-frame
                      = image_tag 'svg/infographics/person_sa.png'
                      .frame-circle
                    .illustration-content-bottom
                      %h2
                        Selection
                        %br
                        Authority
                      %p Identifies &amp; Selects Best Consultant, then Creates Draft Work Agreement.
                  .box-requisition
                    .illustration-frame
                      = image_tag 'svg/infographics/person_ra.png'
                      .frame-circle
                    .illustration-content-bottom
                      %h2
                        Requisition
                        %br
                        Authority
                      %p Creates Requisition &amp; Processes Draft Work Agreement
                  .box-approval
                    .illustration-frame
                      = image_tag 'svg/infographics/person_aa.png'
                      .frame-circle
                    .illustration-content-bottom
                      %h2
                        Approval
                        %br
                        Authority
                      %p Reviews Project Requirements &amp; Approves Work Agreement
                  .box-work
                    .illustration-frame
                      = image_tag 'svg/infographics/doc_checked.png'
                      .frame-circle
                        .pending-label Work Pending
                    .illustration-content-bottom
                      %h2
                        Work
                        %br
                        Authorized
                      %p
                        Consultant receives
                        %br
                        approval to start work
                  .doc-draft
                    = image_tag 'svg/infographics/doc.svg'
                  .connection-one
                  .connection-two
                  .connection-three
                  .connection-four
              .section-intro.align-center
                %h2.section-title Accept Business Unit Role
                %h3.align-center Hello #{current_user.full_name}
                %p.section-description
                  You were invited by
                  %span.type-primary= @owned_company.owner.full_name
                  to be an
                  %span.type-primary #{get_unit_name(@unit_role)}.
                  To accept your role, please click the button below. If you want to receive text notifications from GCES, please provide your cellphone number below.
              = simple_form_for(@form, method: :put,
                url: put_accept_business_role_path, html: {class: 'theme-gces style-alternate align-left', id: 'accept_role_form'}) do |f|
                = render 'shared/base_error', model: @form

                = f.input :phone, wrapper: :custom_phone_grid_input, label: 'Provide your Cell Phone Number:', required: false,
                  placeholder: '000', as: :cell_phone_number
                = button_tag 'Accept Role', type: 'submit',
                  class: "button-cta button-primary icon-cr-arrow-right accept-role-button"
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground
