= simple_form_for(@form,  remote: remote, html: {class: 'theme-gces style-alternate align-left', id: 'reg_am_form'}) do |f|
  = render 'shared/base_error', model: @form
  = f.input :name, required: false, autofocus: true, placeholder: 'Company Business Unit Name',
                  label: 'Enter Your Business Unit Name:', wrapper: :custom_input, input_wrapper_html: { class: 'icon-building' }
  - if @account_manager.phone.blank?
    = f.input :phone, wrapper: :custom_phone_grid_input, label: 'Provide your Cell Phone Number:', required: false,
                    placeholder: '000', as: :cell_phone_number
  = button_tag 'Create Business Unit', type: 'submit', class: "button-cta button-primary icon-cr-arrow-right register-button"