- content_for :header do
  = render 'layouts/registration_header'
.page-content
  %section
    %section.entity-company.taxonomy-view
      %header.ui-box.taxonomy-head{"data-section" => "toggle-head", "data-toggle-container" => ""}
        .entity-head{"data-ignore-global-close" => "1", "data-target" => "toggle-head", "data-type" => "cm-toggle"}
          %h1= @owned_company.company_name
          .ui-panel-toggle.icon-cr-plus-full
        .entity-info.grid.columns-3.ui-panel{"data-section" => "toggle-head", "data-slide-open" => ""}
          .grid-4-12
            %h3 Company Address
            %p= @owned_company.address
          .grid-4-12
            %h3 Company Contract POC
            %p.name= @owned_company.owner.full_name.split.map(&:capitalize).join(' ')
            %p.email= @owned_company.owner.email
            %p= @owned_company.work_phone
          .grid-4-12
            %h3 Company Documents
            %ul.doc-list
              %li
                = link_to_if(@owned_company.gsc.present?, @owned_company.gsc_file_name, download_gsc_path(@owned_company), target: '_blank') {}
              %li
                = link_to_if(@owned_company.contract.present?, @owned_company.contract_file_name, download_contract_rider_path(@owned_company), target: '_blank') {}
      - if @business_unit_names.length > 1
        %section.taxonomy-units.air-bottom
          %section.row.unit-maximized.connect-rule-up
            %h2 Business Unit Names List
            #bun_form_wrapper{style: 'display: none'}
            %table.table-list.table-finance
              %thead
                %tr
                  %th Business Unit Name
                  %th Added Date
                  %th Action+
              %tbody#buns
                - @business_unit_names.each do |bun|
                  - next unless bun.persisted?
                  = render 'business_unit_names/business_unit_name', business_unit_name: bun
          %section.row.hidden
      %section.taxonomy-units
        %section.row.unit-maximized.connect-rule-up
          %section
            %article.tab-panel.is-open
              .section-intro
                %h1.section-title Create Business Unit
                %h2 Hello #{current_user.full_name}
                %p.section-description
                  You were invited by
                  %span.type-primary= @account_manager.company.owner.full_name
                  to be an
                  = succeed "." do
                    %span.type-primary Account Manager
                    for #{@owned_company.company_name}. To accept your role, you must register the Business Unit you plan to supervise online with GCES.
                %figure.figure-business-unit
                  = image_tag "infographics_business_team_unit.png"
              = render 'business_unit_names/form', remote: false
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground