- page_title 'Manage Consultants'
.ibox.float-e-margins
  .ibox-content
    = search_form_for @q, url: admin_consultants_path do |f|
      .row.m-b
        .col-md-6
          = f.label 'Consultant ID'
          = f.search_field :id_eq, class: 'form-control'
        .col-md-6
          = f.label 'Email'
          = f.search_field :user_email_cont, class: 'form-control'
      %hr
      = f.submit 'Search', class: 'btn btn-info'
      -#%button.btn.btn-default.wg-external-reset-button.btn-sm.pull-right.m-r-sm{"data-grid-name" => 'g1'} Reset
      -#%button.btn.btn-primary.m-r.wg-external-submit-button.btn-sm.pull-right.m-r-md{"data-grid-name" => 'g1'} Apply filter
      -#%button.btn.btn-info.wg-external-csv-export-button.btn-sm.m-l-sm{"data-grid-name"=>'g1'}
      -#  Export To CSV
.row
  .wrapper.wrapper-content.animated.fadeInRight
    .ibox.float-e-margins
      .ibox-content
        .row.m-b
          .col-md-12
            = link_to 'Download Excel', admin_consultants_path(format: 'xls'), class: 'btn btn-primary pull-right btn-sm'
            = link_to 'Download CSV', admin_consultants_path(format: 'csv'), class: 'btn btn-primary m-r-xs pull-right btn-sm'
        .table-responsive
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th{width: 50}= sort_link(@q, :id, 'UID')
                %th= sort_link(@q, :user_first_name, 'First Name')
                %th= sort_link(@q, :user_last_name, 'Last Name')
                %th= sort_link(@q, :user_email, 'Email')
                %th= sort_link(@q, :phones_number, 'Phone')
                %th= sort_link(@q, :approved_status_label, 'Status')
                %th= sort_link(@q, :sms_notification, 'SMS')
                %th= sort_link(@q, :created_at, 'Created Date')
                %th= sort_link(@q, :date_pending_approval, 'Pending Approval Date')
                %th= sort_link(@q, :date_approved, 'Approved Date')
                %th= sort_link(@q, :approval_number, 'Consultant #')
                %th= sort_link(@q, :date_on_hold, 'On Hold Date')
                %th= sort_link(@q, :date_rejected, 'Rejected Date')
                %th= sort_link(@q, :user_last_sign_in_at, 'Last Sign in Date')
                %th= sort_link(@q, :user_updated_at, 'Last Modified Date')
                %th= sort_link(@q, :user_sign_in_count, 'Sign In Count')
                %th= sort_link(@q, :contract_effective_date, 'Contract Effective Date')
                %th= sort_link(@q, :contract_version, 'Last Version of Contract Signed')
                %th= sort_link(@q, :rate, 'Rate')
                %th Download Resume
                %th Download Contract
                %th.text-nowrap{style: 'width: 200px;'} 1st Project Positions
                %th 1st Project POC Name
                %th{style: 'width: 100px'} 1st Project POC Email
                %th 1st Project POC Phone Number
                %th.text-nowrap{style: 'width: 200px;'} 2nd Project Positions
                %th 2nd Project POC Name
                %th 2nd Project POC Email
                %th 2nd Project POC Phone Number
                %th.text-nowrap{style: 'width: 200px;'} 3rd Project Positions
                %th 3rd Project POC Name
                %th 3rd Project POC Email
                %th 3rd Project POC Phone Number
            %tbody
              - @consultants.each do |consultant|
                %tr
                  %td= consultant.id
                  %td= consultant.user.first_name
                  %td= consultant.user.last_name
                  %td= consultant.user.email
                  %td= consultant.phones.size > 0 ? consultant.phones.first.number_with_ext : ''
                  %td=  consultant.approved_status.label
                  %td= boolean_to_human(consultant.sms_notification)
                  %td= consultant.created_at.to_s(:long)
                  %td= consultant.date_pending_approval ? consultant.date_pending_approval.to_s(:long) : nil
                  %td= consultant.date_approved ? consultant.date_approved.to_s(:long) : nil
                  %td= consultant.approval_number
                  %td= consultant.date_on_hold ? consultant.date_on_hold.to_s(:long) : nil
                  %td= consultant.date_rejected ? consultant.date_rejected.to_s(:long) : nil
                  %td= consultant.user.last_sign_in_at ? consultant.user.last_sign_in_at.to_s(:long) : nil
                  %td= consultant.updated_at.to_s(:long)
                  %td= consultant.user.sign_in_count
                  %td= consultant.contract_effective_date
                  %td= consultant.contract_version
                  %td= number_to_currency(consultant.rate)
                  %td= link_to_if(consultant.resume.present?, 'Download Resume', download_resume_path(consultant), target: '_blank') {}
                  %td= link_to_if(policy(consultant).contract?, 'Download Contract', contract_consultant_path(consultant), target: '_blank') {}
                  %td{style: 'padding-left: 20px; width: 200px;'}= project_history_fields(consultant.project_histories[0])[0].html_safe
                  %td= project_history_fields(consultant.project_histories[0])[1]
                  %td= project_history_fields(consultant.project_histories[0])[2]
                  %td= project_history_fields(consultant.project_histories[0])[3]
                  %td{style: 'padding-left: 20px;'}= project_history_fields(consultant.project_histories[1])[0].html_safe
                  %td= project_history_fields(consultant.project_histories[1])[1]
                  %td= project_history_fields(consultant.project_histories[1])[2]
                  %td= project_history_fields(consultant.project_histories[1])[3]
                  %td{style: 'padding-left: 20px;'}= project_history_fields(consultant.project_histories[2])[0].html_safe
                  %td= project_history_fields(consultant.project_histories[2])[1]
                  %td= project_history_fields(consultant.project_histories[2])[2]
                  %td= project_history_fields(consultant.project_histories[2])[3]
        .text-right
          = paginate @consultants