<div class="row">
  <div class="large-12 columns">
    <%= f.simple_fields_for :entity do |a| %>
    <fieldset>
      <h3>Your Legal Consultating Status</h3>
      <div class="row">
        <div class="columns large-5">
          <%= a.input :entity_type, disabled: local_assigns[:edit_only], as: :select, collection: Entity.entity_type_select_options %>
        </div>
      </div>
      <div class="entity-fields">
        <p>Please fill out additional information about your entity.</p>
        <div class="row">
          <div class="columns large-6">
            <%= a.input :title, label: "Your Business Title / Role", disabled: local_assigns[:edit_only] %>
          </div>
          <div class="columns large-6">
            <%= a.input :name, label: "Business Name", disabled: local_assigns[:edit_only] %>
          </div>
        </div>
        <div class="row">
          <div class="columns large-6">
            <%= a.input :address, label: "Business Address" %>
          </div>
          <div class="columns large-6">
            <%= a.input :address2 %>
          </div>
        </div>
        <div class="row">
          <div class="columns large-4">
            <%= a.input :city %>
          </div>
          <div class="columns large-4">
            <%= a.input :state %>
          </div>
          <div class="columns large-4">
            <%= a.input :zip %>
          </div>
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
