<%= simple_form_for @form, url: profile_path do |f| %>
    <%= f.error_notification %>
    <%= render 'shared/base_error', model: @form %>
    <div class="row">
      <div class="medium-8 columns main">
        <div class="row">
          <div class="medium-4 columns">
            <%= link_to root_path do %>
                <%= image_tag(@current_consultant.profile_image.url(:medium), class: 'th profile-medium') %>
                <%= link_to t('views.profile.actions.upload_photo_html'),
                            new_consultant_upload_image_path(@current_consultant),
                            class: 'button small upload' %>
                <%= link_to t('views.profile.actions.upload_resume_html'),
                            new_consultant_upload_resume_path(@current_consultant),
                            class: 'button small upload' %>
            <% end %>
          </div>
          <div class="medium-8 columns">
            <div class="row">
              <div class="medium-6 columns">
                <%= f.input :first_name %>
              </div>
              <div class="medium-6 columns">
                <%= f.input :last_name %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.input :willing_to_travel, as: :select %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= render 'shared/rate', f: f %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-12 columns">
                <h3><%= t('views.profile.headers.contact') %></h3>
                <%= render 'address_fields', f: f %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.simple_fields_for :phones do |p| %>
                    <%= render 'phones/phone_fields', f: p %>
                <% end %>
                <div class="links">
                  <%= link_to_add_association t('views.profile.actions.new_phone_html'),
                                              f,
                                              :phones,
                                              partial: 'phones/phone_fields',
                                              class: 'button small' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <h3><%= t('simple_form.labels.consultant.abstract') %></h3>
                <%= f.input :abstract, as: :text, input_html: { class: 'large', cols: 5, rows: 20 } %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <h3><%= t('views.profile.headers.projects') %></h3>
                <%= link_to t('views.profile.actions.edit_projects_html'),
                            project_histories_path,
                            class: 'button small' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-4 columns sidebar">
        <div class="row">
          <div class="large-12 columns">
            <h4><%= t('views.profile.headers.education') %></h4>
            <%= f.simple_fields_for :educations do |e| %>
                <%= render 'educations/education_fields', f: e %>
            <% end %>
            <div class="links">
              <%= link_to_add_association t('views.profile.actions.new_education_html'),
                                          f,
                                          :educations,
                                          partial: 'educations/education_fields',
                                          class: 'button small' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h4><%= t('views.profile.headers.certification') %></h4>
            <%= render 'certifications_fields', f: f %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h4><%= t('views.profile.headers.expertise') %></h4>
            <%= render 'profiles/skills_fields', f: f %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.simple_fields_for :military do |m| %>
                <h4><%= t('views.profile.headers.clearance') %></h4>
                <%= m.input :clearance_active, as: :select %>
                <div id="security">
                  <%= m.input :clearance_level_id,
                              build_simple_form_dropdown(ClearanceLevel,
                                                         collection: ClearanceLevel.all)%>
                  <%= m.input :investigation_date, date_options %>
                  <%= m.input :clearance_expiration_date, date_options %>
                </div>
                <h4><%= t('views.profile.headers.military') %></h4>
                <%= m.input :military, as: :select %>
                <div id="military">
                  <%= m.input :rank_id, build_simple_form_dropdown(Rank,
                                                                   collection: Rank.all)%>
                  <%= m.input :branch_id, build_simple_form_dropdown(Branch,
                                                                     collection: Branch.all)%>
                  <%= m.input :service_start_date, date_options %>
                  <%= m.input :service_end_date, date_options %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= f.button :submit, t('views.profile.actions.save') %>
<% end %>
