<%= simple_form_for @form, url: profile_path do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 columns">
            <%= link_to root_path do %>
                <%= image_tag(current_consultant.profile_image.url, class: 'th') %>
                <%= link_to t('views.profile.actions.upload_photo'),
                            upload_profile_path,
                            class: 'button small' %>
            <% end %>
          </div>
          <div class="large-8 columns">
            <div class="row">
              <div class="large-6 columns">
                <%= f.input :first_name %>
              </div>
              <div class="large-6 columns">
                <%= f.input :last_name %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.input :willing_to_travel, as: :select %>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <%= f.input :rate %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-12 columns">
                <h3><%= t('views.profile.headers.contact') %></h3>
                <div class="row">
                  <div class="large-12 columns">
                    <%= f.input :abstract %>
                  </div>
                </div>
                <%= render 'address_fields', f: f %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.simple_fields_for :phones do |p| %>
                    <div class="row">
                      <% if @form.phones.size > 1 %>
                          <div class="large-11 columns">
                            <%= render 'phones/phone_fields', f: p %>
                          </div>
                          <div class="large-1 columns">
                            <%= render 'phones/destroy_phone', f: p %>
                          </div>
                      <% else %>
                          <div class="large-12 columns">
                            <%= render 'phones/phone_fields', f: p %>
                          </div>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= link_to t('views.profile.actions.new_phone') , new_phone_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="row">
          <div class="large-12 columns">
            <h3><%= t('views.profile.headers.education') %></h3>
            <%= f.simple_fields_for :educations do |e| %>
                <%= render 'educations/education_fields', f: e %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            <%= link_to t('views.profile.actions.new_education') , new_education_path %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3><%= t('views.profile.headers.certification') %></h3>
            <%= render 'certifications_fields', f: f %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3><%= t('views.profile.headers.expertise') %></h3>
            <%= render 'profiles/skills_fields', f: f %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.simple_fields_for :military do |m| %>
                <h3><%= t('views.profile.headers.clearance') %></h3>
                <%= m.input :clearance_active, as: :select %>
                <div id="security">
                  <%= m.input :clearance_level_id,
                              build_simple_form_dropdown(ClearanceLevel,
                                                         collection: ClearanceLevel.all)%>
                  <%= m.input :investigation_date, date_options %>
                  <%= m.input :clearance_expiration_date, date_options %>
                </div>
                <h3><%= t('views.profile.headers.military') %></h3>
                <%= m.input :military, as: :select %>
                <div id="military">
                  <%= m.input :rank_id, build_simple_form_dropdown(Rank,
                                                                   collection: Rank.all)%>
                  <%= m.input :branch_id, build_simple_form_dropdown(Branch,
                                                                     collection: Branch.all)%>
                  <%= m.input :service_start_date, date_options %>
                  <%= m.input :service_end_date, date_options %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= f.button :submit, t('views.profile.actions.save') %>
<% end %>
