<div class="row">
  <div class="medium-8 columns main">
    <%= render 'profiles/consultant_header' %>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to t('views.profile.actions.download_resume_html'),
                    @consultant.resume.url,
                    class: 'button small secondary download' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'profiles/contact_information' %>
        <%= render 'profiles/background_and_history' %>
        <h3>Project History</h3>
        <%= render @consultant.project_histories %>
      </div>
    </div>
  </div>
  <div class="medium-4 columns sidebar">
    <%= render 'profiles/education' %>
    <%= render 'profiles/certification' %>
    <%= render 'profiles/expertise' %>
    <%= render 'profiles/military_information' %> <!-- if logged_in -->
  </div>
</div>
