<h2 class="text-center">Phone</h2>
<div class="row">
  <div class="small-3 columns">
    <h4><%= t('simple_form.labels.phone.number') %></h4>
  </div>
  <div class="small-9 columns">
    <span><%= @phone.number %></span>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <h4><%= t('simple_form.labels.phone.type') %></h4>
  </div>
  <div class="small-9 columns">
    <span><%= lookup_translation(PhoneType, @phone.phone_type.code) %></span>
  </div>
</div>
<div class="row page-actions">
  <td><%= link_to t('views.phone.actions.edit'), edit_phone_path(@phone),
                  class: 'button' if policy(@phone).edit? %></td>
  <td><%= link_to t('views.phone.actions.delete'),  phone_path(@phone), class: 'button alert',
                  method: :delete,
                  data: { confirm: t('views.phone.confirmations.delete') } if
                  policy(@phone).destroy? %></td>
</div>
