<div class="wizard">
  <h2>Independent Contractor
    Agreement<a name="contract" data-magellan-destination="contract"></a></h2>

  <p>This Independent Contractor Agreement (&#8220;Agreement&#8221;), made on <span class="underline"><%=
      @consultant.contract_effective_date.to_formatted_s(:month_day_and_year) %></span>
    (&#8220;Effective Date&#8221;) by and between Global Consultant Exchange Services, LLC, a District of
    Columbia limited liability company, with offices located at 4849 Alberta Falls Way,
    Colorado Springs, CO 80924 (&#8220;GCES&#8221;), and</p>

  <div class="row">
    <div class="medium-4 columns"><p><%= @consultant.first_name %> <%= @consultant.last_name %> with offices located at <%= @consultant.address.address %> (&#8220;Consultant&#8221;).</p></div>
  </div>

  <p>WHEREAS, GCES wishes to contract with Consultant to assist its clients in business
    development, proposal services and business operations support as described in Attachment 1
    to this Agreement; and</p>

  <p>WHEREAS, Consultant agrees to perform the services set forth in this Agreement for the
    consideration stated herein; NOW, THEREFORE, in consideration of the foregoing recitals
    and the terms, conditions and covenants contained herein, it is hereby agreed as
    follows:</p>
  <ol>
    <li><strong>ENGAGEMENT</strong> &ndash; GCES hereby engages Consultant, and Consultant agrees to
      render at the request of GCES, independent consulting services as set forth in the
      Statement of Work at Attachment 1 and incorporated herein (&#8220;Services&#8221;). Services shall be
      ordered by way of purchase orders issued by GCES&#8217; clients to GCES. Consultant shall
      provide the Services in a diligent and professional manner and in no event later than any
      scheduled completion dates set forth in the Statement of Work or the terms of any of GCES&#8217;
      clients&#8217; purchase order.
    </li>
    <li><strong>TERM</strong> &ndash; The term of this Agreement shall commence on the Effective Date
      and continue for one calendar year following Effective Date, unless otherwise modified by
      mutual, written agreement of the Parties hereto or terminated as set forth herein.
    </li>
    <li><strong>COMPENSATION &amp; PAYMENT</strong>
      <ol>
        <li>As consideration for the Services rendered hereunder, and upon the submission of
          monthly invoices, GCES shall pay Consultant for such Services as are actually rendered
          by Consultant and accepted by GCES and its clients at rates set forth in clients&#8217;
          purchase order(s), such rates having been negotiated between Consultant and client(s).
          In no event shall Consultant perform, or receive compensation for additional services
          not set forth in the Statement of Work without a formal, bilateral modification to the
          Statement of Work encompassing such services.
        </li>
        <li>GCES shall reimburse Consultant for reasonable and necessary out-of-pocket travel
          and other miscellaneous expenses relating to this Agreement and incurred at the
          direction of, and approved in advance by, GCES. Such reasonable travel expenses
          include air/rail travel, taxis, auto rentals, meals and lodging, provided that such
          reimbursement will not be in excess of that allowed by Section 3.2.1 below, and
          provided that no reimbursement shall be made for Consultant&#8217;s commuting to facilities
          within a fifty-mile radius of Consultant&#8217;s home or place of business.
        </li>
        <li>Travel must be authorized by GCES&#8217; clients prior to any anticipated reimbursable
          travel. Reimbursement for reasonable and actual expenses shall be made in accordance
          with the following rates:
          <ol>
            <li>Air travel &ndash; Lowest unrestricted coach fare.</li>
            <li>Personal Automobile &ndash; Current client Mileage Rate.</li>
            <li>Rented Automobile &ndash; Compact Type, unless not practical.</li>
            <li>Subsistence &amp; Lodging &ndash; Actual and reasonable costs supported by original
              receipts, or per diem, whichever is less.
            </li>
            <li>Miscellaneous Expense &ndash; Actual and reasonable costs and limited to those items
              that are directly required for performance of the Services.<br>
              Alcohol and most entertainment costs are NOT allowable expenses, will not be
              reimbursed by GCES, and shall not be included in any manner in any invoice
              submitted hereunder.
            </li>
          </ol>
        </li>
        <li>All invoices submitted by Consultant shall include a breakout and description of the
          Services rendered, along with the actual hours and expenses incurred, and receipts (if
          required). Invoices shall be sent to GCES at the following address:<br>
          <p class="address">Global Consultant Exchange Services, LLC<br>
          4849 Alberta Falls Way<br>
          Colorado Springs, CO 80924</p>
        </li>
        <li>GCES shall, after receipt of a proper invoice that complies with the requirements of
          this Agreement, make payment within three (3) business days following receipt of
          payment from its clients. GCES may withhold any amounts in an invoice that are in
          dispute, are contrary to the requirements of this Section 3, or are not substantiated
          by proper receipts.
        </li>
        <li>Payments made to Consultant shall not constitute or be construed as acceptance of
          any of the Services performed by Consultant under this Agreement. Should either GCES
          or its clients ultimately deem all or any portion of the Services to be unacceptable
          or inadequate, even after payment for such Services, Consultant shall undertake all
          necessary remedial action to bring the deliverables to an acceptable level at no
          charge to GCES or its clients.
        </li>
      </ol>
    </li>
    <li><strong>INDEPENDENT CONTRACTOR</strong> &ndash; Consultant is an independent contractor and is
      not an employee, servant, agent, partner or joint venture of GCES. While GCES&#8217; clients
      will determine the specific work to be done by the Consultant, the Consultant shall
      determine the legal means by which he/she/it accomplishes the work specified by GCES&#8217;
      clients or from the clients through GCES. Neither GCES nor its clients are responsible for
      withholding and shall not withhold FICA or taxes of any kind from any payments which are
      owed to the Consultant. Neither the Consultant nor its employees shall be entitled to
      receive any benefits which employees of GCES or its clients are entitled to receive, and
      shall not be entitled to workers&#8217; compensation, unemployment compensation, medical
      insurance, life insurance, paid vacations, paid holidays, pension, profit sharing or
      Social Security on account of performing services for GCES and its clients. Except as
      otherwise provided herein, the Consultant retains the right to direct, control or
      supervise the details and means by which the Services are provided.
    </li>
    <li><strong>AUDIT</strong> &ndash; Consultant shall retain all books, records, documents and other
      evidence pertaining to his/her/its Services rendered and billings made under this
      Agreement (&#8220;the Records&#8221;). The Records shall be subject to inspection and audit by GCES
      and the Government (if necessary) at all reasonable times and upon reasonable notice for a
      period of three (3) years after final payment under this Agreement. If any audit of
      Consultant&#8217;s invoiced charges demonstrates that Consultant&#8217;s invoiced charges exceed the
      correct charges, Consultant shall immediately pay or refund such excess charges to GCES&#8217;
      account, and if such excess charges exceed the correct charges by more than five percent
      (5%), Consultant shall also pay or reimburse GCES for all reasonable costs of such audit,
      to include any reasonable costs (including attorneys&#8217; fees and costs) incurred by GCES in
      collecting such excess charges from Consultant.
    </li>
    <li><strong>CONFIDENTIALITY</strong>
      <ol>
        <li>Consultant may receive in confidence (&#8220;receiving party&#8221;) from GCES or from GCES&#8217;
          clients (&#8220;disclosing party&#8221;) and shall treat as confidential all technical
          information, business/financial information, management information, and documentation
          which (i) is stamped or otherwise marked as being confidential or proprietary, whether
          in written or electronic form, (ii) pertains in any way to GCES or to GCES&#8217; clients&#8217;
          business plans or methods, or (iii) otherwise is not generally known by others, and
          under the circumstances of the disclosure, the disclosing party had a reasonable
          expectation that the receiving party would know that the information is confidential
          or proprietary (collectively &#8220;Proprietary Information&#8221;). Information that is disclosed
          orally or visually to a receiving party shall also be deemed Proprietary Information
          if the disclosing party identifies such information as proprietary at the time of
          disclosure and, within thirty (30) days after such disclosure, reduces the subject
          matter of the disclosure to writing and submits it to the receiving party.
        </li>
        <li>The Consultant shall hold Proprietary Information received from the disclosing party
          in confidence, and shall use such information only for the purpose of and in
          accordance with this Agreement and shall not further disclose such information to any
          third party without the prior written approval of the disclosing party. The obligation
          to protect the confidentiality of Proprietary Information shall extend for a period of
          five (5) years following Consultant&#8217;s receipt of Proprietary Information.
        </li>
        <li>The restrictions of this Section shall not apply to any information: (i) lawfully
          received from another source free of restriction and without breach of this Agreement,
          (ii) that is published or becomes generally available to the public without breach of
          this Agreement, (iii) known by the Consultant prior to the time of disclosure, (iv)
          independently developed by the Consultant without resort or access to the Proprietary
          Information; or (v) that the disclosing party has approved for further release by the
          Consultant.
        </li>
        <li>Proprietary Information shall remain the property of the disclosing party and shall
          be returned or destroyed upon written request or upon termination or expiration of
          this Agreement. The Consultant may retain in the files of its legal counsel for
          archival purposes only, one copy of all written materials returned.
        </li>
      </ol>
    </li>
    <li><strong>INTELLECTUAL PROPERTY RIGHTS</strong>
      <ol>
        <li>Inventions
          <ol>
            <li>Consultant shall promptly disclose to GCES and to CGES&#8217; clients all inventions,
              software, development, improvements, and contrivances (hereinafter &#8220;Inventions&#8221;)
              in Consultant&#8217;s field of endeavor in the line of GCES&#8217; clients&#8217; present or future
              business which are made or conceived or actually or constructively reduced to
              practice by Consultant or with Consultant&#8217;s assistance or under Consultant&#8217;s
              direction in the course of performance during the term and any extension of the
              term of this Agreement, whether or not patentable and whether made by any of
              Consultant&#8217;s employees solely or jointly with others, which relate to or are
              suggested by or result from any Services which the Consultant may perform pursuant
              to this Agreement or from any information obtained by the Consultant in any
              discussions or meetings with employees of the client.
            </li>
            <li>Consultant shall assign and does hereby assign all Consultant&#8217;s rights, title
              and interest in and to said Inventions to GCES&#8217; clients, and shall assist the
              clients in every way to protect, at clients&#8217; expense, said Inventions, including
              but not limited to, the signing of patent applications, oaths and assignments in
              favor of the clients relating to the said Inventions, respecting such applications
              in the United States and in any and all foreign countries and shall assist in any
              interference proceedings or litigation involving any patents that may be obtained
              for such Inventions.
            </li>
            <li>Consultants shall make no applications for patents on any such Inventions except
              for the clients&#8217; benefit as herein provided.
            </li>
          </ol>
        </li>
        <li>Copyrights
          <ol>
            <li>Consultant agrees that all copyrightable materials first produced, programmed,
              or designed by Consultant and delivered to GCES&#8217; clients as Services performed in
              connection with this Agreement shall constitute &#8220;works for hire&#8221; prepared for
              GCES&#8217; clients, and as such, the clients shall be the sole owners of all rights,
              title, and interest in the copyright of all such materials. Without limiting the
              foregoing, Consultant agrees to assign all copyright ownership in all works first
              produced, programmed, or designed by Consultant and delivered to GCES&#8217; clients in
              connection with this Agreement. The term &#8220;copyrightable materials&#8221; shall include
              computer systems and software (including firmware) in any form.
            </li>
            <li>Consultant agrees that, with respect to all copyrightable materials which were
              not first produced, programmed or designed by Consultant but were incorporated
              into Services performed and delivered to GCES&#8217; clients in connection with this
              Agreement, Consultant shall grant a royalty-free, non-exclusive, and irrevocable
              license to GCES&#8217; clients to use, reproduce, dispose of, translate, publish and to
              authorize others of GCES&#8217; clients choosing to do the same with respect to any and
              all said materials, provided this license shall be only to the extent the
              Consultant has the right or in the future acquires the right to grant such
              licenses without becoming liable for any compensation to others solely because of
              such grant. In this regard, Consultant further agrees to promptly notify GCES&#8217;
              clients of any such limitation of which Consultant is aware concerning said
              materials.
            </li>
            <li>Data &ndash; All notes, drawings, designs, and technical data developed in connection
              with or pursuant to the terms of this Agreement shall become and/or remain the
              exclusive property of GCES&#8217; clients, and GCES&#8217; clients shall have the exclusive
              right to use and disclose them for any purpose. Upon completion of the Services or
              earlier termination of this Agreement, Consultant agrees to promptly deliver to
              GCES&#8217; clients all materials, including all copies thereof, that are in
              Consultant&#8217;s possession or under his/her control that were developed in connection
              with this Agreement.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li><strong>REPRESENTATIONS &amp; WARRANTIES</strong>
      <ol>
        <li>Consultant represents and warrants that Consultant and each officer or employee
          thereof who renders Services hereunder:
          <ol>
            <li>shall, in all activities in support of GCES and its clients, perform the
              Services in accordance with the highest standards of professional skill and that,
              for those materials or deliverables for which, in advance of delivering such
              materials and deliverables, Consultant, GCES and the clients have defined in
              writing specific client expectations for such materials and deliverables,
              Consultant shall, for a period of six (6) months from the completion date of the
              Services, at no charge to GCES or its clients, furnish such materials and services
              as may be necessary to correct any defects in the materials or deliverables
              developed under the Statement of Work at Attachment 1.
            </li>
            <li>shall comply with all applicable federal, state and local laws in performing the
              Services to be provided hereunder;
            </li>
            <li>has a legal right to remain and work in the United States and that Consultant
              shall indemnify, defend and hold GCES and its clients harmless against any claims,
              penalties, fees or charges of any kind whatsoever arising out of or as a result of
              Consultant&#8217;s failure to comply with applicable United States immigration laws; and
            </li>
            <li>shall, as requested, give GCES and its clients an accurate, current and complete
              answers/certifications to the Conflict of Interest Certification incorporated
              herein at Attachment 2.
            </li>
          </ol>
        </li>
        <li>To the extent Consultant will provide Services to GCES&#8217; clients in support of a U.S.
          Government contract or procurement, Consultant (including all employees assigned to
          this Agreement) represents and warrants the following with respect to U.S. Government
          and GCES and its clients&#8217; policies and restrictions:
          <ol>
            <li>that it has not been convicted of fraud or any other felony arising out of, or
              in connection with, a Department of Defense contract or procurement;
            </li>
            <li>that it is not now or ever been listed on the List of Parties Excluded from
              Federal Procurement and non-Procurement Programs maintained by the General
              Services Administration; and
            </li>
            <li>that it has read, understands and agrees to fully comply with the following:
              <ol>
                <li>Procurement Integrity Act (41 U.S.C. 423 and 48 C.F.R. Subpart 3.104);</li>
                <li>Anti-Kickback Act (41 U.S.C. 51-58 and 48 C.F.R. Subpart 3.502);</li>
                <li>Organizational Conflict of Interest rules in 48 C.F.R. Subpart 9.5; and</li>
                <li>Byrd Amendment (Section 319 of P.L. 101-121, OMB&#8217;s Interim Final Guidance on
                  Lobbying Restrictions (54 Fed. Reg. 52306) and 48 C.F.R. Subpart 3.8.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>Consultant warrants and represents that as of the Effective Date of this Agreement,
          it is under no obligation, contract, agreement or commitment that would in any manner
          prevent Consultant from rendering, and GCES and its clients from receiving, the full
          benefit of Consultant&#8217;s Services and any intellectual property generated in connection
          with this Agreement.
        </li>
        <li>To the extent that Consultant is required under this Agreement to perform the
          services of a &#8220;marketing consultant,&#8221; as that term is defined in 48 C.F.R. 9.5,
          Consultant represents that as of the Effective Date, (i) it does not have any existing
          conflicting roles that may bias Consultant&#8217;s judgment in the performance of the
          Services; and (ii) it does not have any access to or possess any proprietary
          information of another company or source selection information of the U.S. Government
          that, by virtue of Consultant&#8217;s prior work or the Services performed hereunder, would
          provide GCES&#8217; clients with an unfair competitive advantage (as that term is used in 48
          C.F.R. 9.5) with respect to a then-current or prospective solicitation, contract or
          other Government procurement. Consultant further agrees that it shall immediately
          advise GCES and its clients should Consultant become aware of any circumstances
          involving Sections 8.4(i) or (ii) that may arise during the term of this Agreement.
        </li>
      </ol>
    </li>
    <li><strong>EXPORT/NATIONAL SECURITY &amp; BACKGROUND CHECKS</strong>
      <ol>
        <li>Consultant shall comply with the Export Administration Regulations (EAR), the
          International Traffic in Arms Regulations (ITAR), and the regulations issued by the
          Office of Foreign Assets Control, as well all other laws, regulations, and orders that
          control the export of commercial and dual-use items, defense articles and associated
          technology and technical data. Consultant shall not export, directly or indirectly,
          any hardware, software, technology, information, or technical data disclosed under
          this Agreement to any individual or country for which the U.S. Government requires an
          export license or other governmental approval, without first obtaining such license or
          approval.
        </li>
        <li>Consultant acknowledges that some of GCES&#8217;s clients are U.S. defense
          contractors, and as such, Consultant is under certain mandatory security obligations with
          regard
          to access to its facilities and technology. Consultant agrees that it will not assign
          any employee to perform services under this Agreement unless such employee qualifies
          as a &#8220;U.S. person,&#8221; defined as: (i) a U.S. citizen or national; (ii) an alien lawfully
          admitted for permanent resident (those possessing a valid Form I-550 or &#8220;green card&#8221;);
          an alien admitted following a 1986 amnesty statute; (iv) an asylee or refugee as
          defined in 8 U.S.C. 1324b(a)(3); or (v) an alien lawfully admitted for temporary
          agricultural employment.
        </li>
        <li>Consultant shall abide by all applicable U.S. security laws and regulations and
          controls related to safeguarding information that is &#8220;Classified,&#8221; &#8220;Secret&#8221; or &#8220;Top
          Secret.&#8221; Consultant agrees that while working at GCES&#8217; clients&#8217; facilities, Consultant
          and its employees will comply with all applicable facility rules and procedures of
          which they have notice, including without limitation, any security requirements set
          forth in the Department of Defense Industrial Security Manual. Unless otherwise agreed
          in writing by GCES&#8217; clients, Consultant and its employees shall be granted access to
          GCES&#8217; clients&#8217; facilities only during normally scheduled business hours. To the extent
          the Services required under this Agreement result in Consultant or its employees
          having access to information relating to a U.S. Government classified program, or
          other information regulated by the National Industrial Security Program Operating
          Manual, Consultant shall not assign any employees to such work unless the individuals
          are citizens or nationals of the United States, and in the case of a classified
          program, unless the individuals are properly cleared to receive access to such
          information.
        </li>
        <li>Background Screening. At the option of GCES&#8217; clients, Consultant shall comply with
          the following GCES&#8217; clients&#8217; background screening requirements
          <ol>
            <li>Criminal Records Check. If an employee of Consultant is expected to be (i)
              provided unescorted access to operating areas of GCES&#8217; clients owned or leased
              facility for a period of thirty (30) days or more over a one year period, or (ii)
              granted access to GCES&#8217; clients internal computer network(s), a federal and state
              criminal records report for all addresses at which the Consultant employee either
              resided or worked during the previous seven (7) years must be provided to GCES&#8217;
              clients prior to such employee&#8217;s access.
            </li>
            <li>Credit History Check. If an employee of Consultant will be performing services
              under this Agreement that include (i) the administration of GCES&#8217; clients&#8217;
              computer network; or (ii) access to proprietary GCES&#8217; clients&#8217; financial data,
              Consultant must provide GCES&#8217; client with a credit history check from a national
              credit bureau prior to the commencement of services.
            </li>
            <li>Authorization and Consent. When either a criminal records or credit history
              report must be provided to GCES&#8217; clients in accordance with this Section 9.4, all
              authorizations and consents from the employee must be obtained prior to GCES&#8217;
              clients&#8217; receipt and use of such report to ensure full compliance with the
              requirements of the Fair Credit Reporting Act and other applicable laws.
            </li>
            <li>Exceptions to Requirements. Neither a criminal records check nor a credit
              history check is required if: (a) the individual to be granted access holds an
              active U.S. Government Security Clearance at or above the SECRET level; (b)
              Consultant is deemed a &#8220;Trusted Contractor&#8221; by GCES&#8217; clients&#8217; Security Department
              and a certification is provided by Consultant confirming that such criminal
              records or credit history check has been conducted; or (c) Consultant has bonded
              the employee to be granted access.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li><strong>SAFETY</strong>
      <ol>
        <li>In connection with the Services to be performed hereunder, Consultant agrees to
          comply with the federal Occupational Safety &amp; Health Act (&#8220;OSHA&#8221;) and all
          applicable OSHA regulations and standards, any applicable state and local laws, rules
          and regulations, and all GCES&#8217; clients&#8217; safety policies of which Consultant has
          notice.
        </li>
        <li>Consultant authorizes GCES&#8217; clients to provide minor first aid to Consultant&#8217;s
          employees, with the consent of the injured person, for injuries sustained on GCES&#8217;
          clients&#8217; property. If GCES&#8217; clients believes immediate emergency care is necessary for
          an illness or injury to Consultant&#8217;s employees, Consultant authorizes GCES&#8217; clients to
          call for ambulance service, and Consultant agrees to pay (or to reimburse GCES&#8217;
          clients) for any such ambulance charge.
        </li>
        <li>Consultant shall defend, indemnify and hold GCES and its clients and their
          respective officers, directors and employees harmless from and against all expenses,
          costs, damages, liabilities and losses incurred by GCES&#8217; clients in connection with
          any claim, investigation, demand, action, suit or proceeding arising out of or
          resulting from the provision of any medical care or treatment to Consultant&#8217;s
          employees or the calling of ambulance services for such employees by GCES&#8217; clients.
        </li>
      </ol>
    </li>
    <li><strong>LIMITATIONS ON LOBBYING ACTIVITIES</strong>
      <ol>
        <li>To the extent Consultant will provide Services to GCES&#8217; clients in support of a U.S.
          Government contract or procurement, the following provisions shall apply:
          <ol>
            <li>Consultant understands and agrees that lobbying activities are not contemplated
              by this Agreement and constitute an unallowable cost under 48 C.F.R. 31.205-22. If
              any lobbying activities are authorized by, and performed on behalf of GCES&#8217;
              clients, then the costs associated with such activities must be segregated and
              conspicuously identified on invoices submitted to GCES and its clients.
            </li>
            <li>Consultant shall comply with the provisions of Section 319 of P.L. 101-121
              (&#8220;Byrd Amendment&#8221;), OMB&#8217;s Interim Final Guidance on Lobbying Restrictions (54 Fed.
              Reg. 52306), and 48 C.F.R Subpart 3.8, as such may be revised, and shall not,
              except with the express written consent of GCES and its clients, influence or
              attempt to influence, by communicating to or appearing before, an officer or
              employee of any federal agency, a Member of Congress, an officer or employee of
              Congress, or an employee of a Member of Congress in connection with: the awarding
              of any Federal contract; the making of any federal grant; the making of any
              federal loan; the entering into of any cooperative agreement; or the extension,
              continuation, renewal, amendment, or modification of any federal contract, grant,
              loan, or cooperative agreement. Consultant agrees to promptly notify GCES and its
              clients in the event any such communications or appearances are made and to submit
              a full disclosure statement thereof on OMB Form SF-LLL.
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li><strong>NON-SOLICITATION</strong> &ndash; Consultant agrees that for the term of this
      Agreement and for a period of six (6) months thereafter, the Consultant will not, either
      directly or through others, hire or solicit for hire, encourage or attempt to solicit any
      employee or independent contractor of either GCES or its clients to terminate their
      relationship with GCES or its clients or to become an employee of independent contractor
      for the Consultant.
    </li>
    <li><strong>NON-COMPETE </strong>
      <ol>
        <li>Consultant agrees that during the term of this Agreement and for a period of three
          (3) months thereafter, the Consultant will not accept full-time or part-time
          employment with GCES&#8217; clients for which Consultant is providing Services. Consultant
          further agrees that, as a condition of his/her/its consultancy with GCES&#8217; clients,
          Consultant will not enter into a consulting agreement directly with GCES&#8217; clients
          during the term of this Agreement and for a period of three (3) months thereafter.
        </li>
        <li>Due to the sensitive and confidential nature of the Services to be performed by
          Consultant on behalf of GCES&#8217; clients, and Consultant&#8217;s access to, and knowledge of,
          GCES&#8217; clients&#8217; proprietary pricing, management and technical strategies, Consultant
          hereby agrees that:
          <ol>
            <li>Consultant and its employees, agents, representatives and subcontractors will
              not perform work for GCES&#8217; client&#8217;s competitors in support of any proposal effort
              that GCES&#8217; clients have tasked Consultant(s) to provide services under this
              Agreement. This restriction shall remain in effect until GCES&#8217; clients are
              notified by the Government or a Prime Contractor (where GCES&#8217; clients a
              subcontractor) that an award has been determined or the solicitation cancelled.
            </li>
            <li>Consultant and its employees, agents, representatives and subcontractors will
              not perform work for a competitor of GCES&#8217; clients in support of any program or
              strategic business planning and organizational development, that GCES&#8217; clients
              have tasked Consultant(s) to provide under this Agreement for 6 months after the
              Purchase Order period of performance. On a case by case basis GCES, GCES&#8217; clients,
              and Consultant may negotiate this timeframe.
            </li>
          </ol>
        </li>
        <li>Consultant will not support any prospective or actual prime contractor,
          subcontractor, supplier or other third party with respect to 13.2.1 and 13.2.2 above.
          This restriction shall not limit in any way Consultant&#8217;s ability to provide consulting
          services to any third party in connection with other procurements and programs.
        </li>
        <li>Consultant is referred to and reminded of its obligations under the confidentiality
          and/or non-disclosure agreements associated with this Agreement. Under no
          circumstances shall consultant share any GCES&#8217; clients&#8217; confidential or proprietary
          information with any third party. Given the sensitive nature of specific tasking
          assigned to Consultant, GCES&#8217; clients may require Consultant&#8217;s personnel to execute an
          Individual Non-Disclosure Agreement.
        </li>
      </ol>
    </li>
    <li><strong>PUBLICITY</strong><br>
      Except as required by law, Consultant shall not issue any press release or make any other
      public statement relating to this Agreement, any Services performed under this Agreement,
      or any of the transactions contemplated by this Agreement without obtaining the prior
      written approval of GCES and its clients as to the contents and the manner of presentation
      and publication of such press release or public statement.
    </li>
    <li><strong>TERMINATION</strong>
      <ol>
        <li>This Agreement may be terminated by GCES at any time in the event the Consultant
          breaches this Agreement, fails to perform its obligations hereunder on time, fails to
          assure timely performance, fails to perform its material obligations, or makes any
          misrepresentation to GCES or its clients; provided, however, that prior to such
          termination GCES notifies the Consultant in writing at least ten (10) days in advance,
          states the reasons why the Agreement should be terminated and affords the Consultant
          an opportunity to cure any alleged default during such ten (10) day notice period.
        </li>
        <li>Either party may terminate this Agreement, upon notice and without liability, in the
          event the other party: (a) files a petition in bankruptcy; (b) has filed against it an
          involuntary petition in bankruptcy not dismissed within sixty (60) days; (c) consents
          to the appointment of a receiver, custodian, trustee or liquidator; or (d) dissolves,
          liquidates or makes a general assignment for the benefit of creditors.
        </li>
        <li>GCES may terminate this Agreement, or any Services to be performed hereunder, in
          whole or in part, without cause and for its own convenience, by providing Consultant
          written notice of termination at least seven (7) days in advance, specifying the
          extent to which the Agreement is so terminated and the date upon which such
          termination becomes effective. GCES shall have no liability for such termination
          except for liability for Services rendered or expenses incurred by Consultant in
          accordance with this Agreement prior to the effective date of such termination and for
          which payment has not been made.
        </li>
        <li>Upon termination of this Agreement, Consultant shall return to GCES&#8217; clients all
          copies of any client data, records, or materials, of whatever nature and regardless of
          media. Consultant shall also furnish clients with all work in progress or portions
          thereof. Within thirty (30) days following termination or expiration of this
          Agreement, Consultant shall submit to GCES an itemized invoice of any fees for
          Services or expenses incurred but not paid under this Agreement. Upon payment of
          accrued amounts so invoiced and accepted, GCES shall thereafter have no liability or
          obligation to Consultant for any further compensation, fees, expenses or other
          payments related to this Agreement. Also upon termination of this Agreement, GCES will
          remove Consultant from its internet consultant database.
        </li>
      </ol>
    </li>
    <li><strong>LIABILITY AND INDEMNIFICATION</strong>
      <ol>
        <li>Neither GCES, nor its officers, directors, employees, affiliates, or parent
          companies shall be liable for any injury to the person or property of Consultant or
          its employees, except where such injury was directly caused by the fault or negligence
          of GCES or its employees acting within the scope of their employment.
        </li>
        <li>In addition to any other indemnification obligation herein, Consultant shall
          indemnify, defend and hold GCES and its officers, directors, and employees, harmless
          from and against all expenses, costs, damages, liabilities and losses (including
          without limitation reasonable attorneys fees) incurred by GCES in connection with any
          claim, investigation, demand, action, suit or proceeding (whether civil, criminal,
          administrative or investigative) arising out of resulting from Consultant&#8217;s
          performance of the Services, including but not limited to, the following:
          <ol>
            <li>Consultant&#8217;s failure to deduct and pay taxes required by law on compensation
              Consultant pays to its officers, employees or independent contractors; and
            </li>
            <li>Personal injury or death, as well as loss or damage to property, occurring to
              any person caused directly or indirectly by the acts, omissions or negligence of
              Consultant or any of Consultant&#8217;s agents, employees, officers or independent
              contractors engaged in the performance of the Services under this Agreement.
            </li>
          </ol>
        </li>
        <li>IN NO EVENT SHALL EITHER PARTY BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
          EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCURRED BY THE OTHER PARTY OR ANY THIRD
          PARTY, WHETHER IN CONTRACT, TORT, OR BASED UPON A WARRANTY, EVEN IF THE OTHER PARTY OR
          ANY THIRD PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. GCES&#8217; MAXIMUM
          LIABILITY UNDER THIS AGREEMENT SHALL BE THE SUM OF THE PURCHASE ORDER VALUES, LESS ANY
          PAYMENT MADE TO CONSULTANT HEREUNDER.
        </li>
      </ol>
    </li>
    <li><strong>AUTHORIZED REPRESENTATIVES/NOTICE</strong> &ndash; <br>The authorized representative for
      GCES during the Term of this Agreement is: Barrie A. Gillis<br>
      Consultant&#8217;s authorized representative is: <%= @consultant.full_name %><br>
      All notices required or permitted under this Agreement shall be in writing and shall be
      deemed duly given either when personally delivered, when sent by registered or certified
      mail/return receipt requested, or when sent by facsimile with confirmation of successful
      transmission.
    </li>
    <li><strong>MISCELLANEOUS</strong>
      <ol>
        <li>Severability &ndash; If any provision of this Agreement shall be held to be invalid or
          unenforceable, such provision shall be stricken and the remainder of the Agreement
          shall remain in full force and effect to accomplish the intent and purpose of the
          parties. The parties agree to negotiate the severed provision to bring the same within
          the applicable legal requirements to the extent possible.
        </li>
        <li>Governing Law &ndash; The validity, interpretation and/or enforcement of this Agreement
          shall be governed by the laws of the District of Columbia, including its recognition
          of applicable federal law, but excluding such jurisdiction&#8217;s choice of law rules.
        </li>
        <li>No Waiver &ndash; Any failure or delay by either party to exercise any right, power or
          privilege hereunder or to insist upon observance or performance by the other party of
          the provisions of this Agreement shall not operate or be construed as a waiver
          thereof. No waiver shall be binding on either party unless it is in writing and signed
          by an authorized representative of the party to be bound.
        </li>
        <li>Survival &ndash; The obligations in this Agreement that by their terms naturally survive
          the expiration or termination of this Agreement shall so survive, including without
          limitation Sections 5, 6, 7, 8, 12, 13, 14, 15, and 16.
        </li>
        <li>Contradictory Terms &ndash; Notwithstanding any provisions on any form supplied by GCES or
          Consultant, all purchase orders or requests for service issued pursuant to this
          Agreement or in connection with the Services to be provided hereunder shall be subject
          to and governed by the terms and conditions of this Agreement and the attachments
          hereto. No provision that alters, revises, or supplements the terms of this Agreement,
          which may appear on any purchase order, or other form provided by the parties shall
          have any force or effect unless such provision(s) are agreed to in writing by GCES and
          Consultant and are expressly incorporated herein.
        </li>
        <li>Anti-Assignment &ndash; Neither party may assign, subcontract, or otherwise transfer its
          rights or obligations under this without the prior written consent of the other party,
          which shall not be unreasonably withheld.
        </li>
        <li>Integration/Modification &ndash; This document and any exhibits or attachments hereto
          embody the entire Agreement of the parties with respect to the subject matter hereof
          and supersede and cancel all previous negotiations, agreements or commitments by the
          parties whether oral or written. This Agreement may not be released, canceled,
          abandoned, amended or modified in any manner except by an instrument in writing duly
          signed by each of the parties hereto.
        </li>
      </ol>
    </li>
  </ol>

  <p>This Agreement is duly executed by the duly authorized representatives of the parties as
    set forth below:</p>
  <table>
    <tr>
      <td><strong>GLOBAL CONSULTANT EXCHANGE SERVICES, LLC</strong></td>
      <td><strong>CONSULTANT</strong></td>
    </tr>
    <tr>
      <td>Name: Barrie A. Gillis</td>
      <td>Name: <%= @consultant.full_name %></td>
    </tr>
    <tr>
      <td>Signature:</td>
      <td>Signature: This agreement was executed digitally by Consultant on</td>
    </tr>
    <tr>
      <td>Title: General Manager</td>
      <td><%= @consultant.contract_effective_date.to_formatted_s(:month_day_and_year) %></td>
    </tr>
  </table>

  <div class="attachment">
    <h2>ATTACHMENT 1<a name="attachment" data-magellan-destination="attachment"></a></h2>

    <h3>Statement of Work</h3>
    <ol>
      <li><strong>INTRODUCTION</strong><br>
        This Statement of Work (&#8220;SOW&#8221;) as detailed in Paragraph 2 describes the services to be
        provided by consultants registered with GCES to GCES clients.
      </li>
      <li><strong>TASK DESCRIPTION</strong><br>
        Consultant will provide in person, and make available others to provide, business
        development and business operations consulting services listed in Paragraph 3 below,
        when requested and authorized by GCES clients in accordance with Paragraph 4 below.
      </li>
      <li><strong>SERVICES TO BE PROVIDED</strong><br>
        Services to be provided include, but are not limited to, those of proposal managers,
        volume leads, graphic artists, technical editors, proposal writers and editors, business
        performance/ requirements analysts, business development strategists, integrated master
        planners, integrated master schedulers, and other skillsets and abilities as required,
        in support of various GCES clients program operations and new business development
        efforts. (&#8220;GCES Resources&#8221;) A security clearance may be required.
      </li>
      <li><strong>AUTHORIZATION OF SERVICES</strong><br>
        No service shall be provided except upon the specific request by the designated GCES
        client Point of Contact for the specific service from the specific GCES consultant for a
        specific GCES client task. Such authorization shall be made either through issuance or
        modification of a Purchase Order, or by issuance of an Authorization to Proceed, by the
        designated GCES client Point of Contact. GCES and its consultants are At Risk for any
        services performed which have not been explicitly authorized in accordance with this
        Paragraph. Unless specifically approved by GCES clients in advance, the rate described
        in paragraph 6, below, shall not be varied.
      </li>
      <li><strong>PERIOD OF PERFORMANCE</strong><br>
        Period of performance is specified in individual GCES client purchase orders.
      </li>
      <li><strong>COST AND PRICES</strong><br>
        Consultant shall be paid for rendered Services at rates negotiated between Consultant
        and GCES clients. Services will be charged on an hourly basis, as actually performed.
        Unless specifically approved by GCES in advance, this rate shall not be varied by virtue
        of Consultant having performed work in excess of forty (40) hours per week. Other Direct
        Charges (ODCs) are limited to travel expenses and conference fees incurred at the
        specific direction of GCES clients. Travel expenses shall not exceed that which is
        authorized by GCES clients for its employees.
      </li>
      <li><strong>REPORTING</strong>
        <ol>
          <li>Activity Status Report. As requested by GCES, Consultant shall provide on a
            monthly basis a written status report to GCES. This report shall include
            consultant activity for the reporting period by task description and summary of
            planned activity for the next reporting period.
          </li>
          <li>Expenditure Report. As requested by GCES, Consultant shall provide on a monthly
            basis a written expenditure report to GCES. This report shall include:
            <ul>
              <li>Summary of labor hours expended by labor category during the reporting period
                and estimate to complete task activities.
              </li>
              <li>Summary of labor dollar value and other direct costs expended to date and
                estimate to complete task activities.
              </li>
            </ul>
          </li>
        </ol>
      </li>
      <li><strong>WORK LOCATION</strong><br>
        As identified in individual GCES client purchase order(s).
      </li>
      <li><strong>POINTS OF CONTACT</strong>

        <p>For GCES:<br>
          Barrie A. Gillis, General Manager<br>
          4849 Alberta Falls Way<br>
          Colorado Springs, CO 80924<br>
          barrie.gillis@globalconsultantexchange.com<br>
          (703) 489-5352</p>

        <p>For Consultant:<br>
          <%= @consultant.full_name %><br>
          <%= @consultant.address.address %><br>
          <%= @consultant.email %><br>
          <%= @consultant.phones.first.number %>
        </p>
      </li>
    </ol>
  </div>
</div>
