- if user_is_gces?
  .row.admin
    .large-12.columns
      %h3 GCES Admin Panel
      .row
        .large-10.columns
          - if @consultant.background.present?
            .row
              .large-6.columns
                %p
                  = t('simple_form.labels.background.citizen')
                  %strong
                    = boolean_to_human(@consultant.background.citizen)
                %p
                  = t('simple_form.labels.background.convicted')
                  %strong
                    = boolean_to_human(@consultant.background.convicted)
                %p
                  = t('simple_form.labels.background.parole')
                  %strong
                    = boolean_to_human(@consultant.background.parole)
                %p
                  = t('simple_form.labels.background.illegal_drug_use')
                  %strong
                    = boolean_to_human(@consultant.background.illegal_drug_use)
              .large-6.columns
                %p
                  = t('simple_form.labels.background.illegal_purchase')
                  %strong
                    = boolean_to_human(@consultant.background.illegal_purchase)
                %p
                  = t('simple_form.labels.background.illegal_prescription')
                  %strong
                    = boolean_to_human(@consultant.background.illegal_prescription)
        .large-2.columns
          .row
            .large-12.columns
              = link_to t('views.consultant.actions.approve'),
                approve_consultant_path(@consultant),
                method: :put,
                class: 'button success' if policy(@consultant).approve?
          .row
            .large-12.columns
              = link_to t('views.consultant.actions.reject'),
                reject_consultant_path(@consultant),
                method: :put,
                class: 'button alert' if policy(@consultant).reject?
.row
  .medium-8.columns.main
    = render 'profiles/consultant_header'
    .row
      - if policy(@consultant).upload_resume?
        .small-12.columns
          = link_to t('views.upload_resume.actions.upload_resume_html'),
            new_consultant_upload_resume_path(@consultant),
            class: 'button small secondary download'
      - if policy(@consultant).show?
        .small-12.columns
          = link_to t('views.profile.actions.contact'),
            new_consultant_conversation_path(@consultant.id),
            class: 'button small secondary download'
      - if current_user.selection_authorities.any?
        .small-12.columns
          = link_to t('views.profile.actions.hire_me'),
            new_consultant_project_path(@consultant),
            class: 'button small secondary download'
    .row
      .small-12.columns
        - if user_signed_in? && (user_is_gces? || current_user.contactable(@consultant))
          = render 'profiles/contact_information'
        = render 'profiles/background_and_history'
        = render @consultant.project_histories if user_signed_in?
  .medium-4.columns.sidebar
    = render 'profiles/education'
    = render 'profiles/certification'
    = render 'profiles/expertise'
    = render 'profiles/military_information' if user_signed_in?
