<% if user_is_gces? %>
<div class="row admin">
  <div class="large-12 columns">
    <h3>GCES Admin Panel</h3>
    <div class="row">
      <div class="large-10 columns">
        <% if @consultant.background.present? %>
        <div class="row">
          <div class="large-6 columns">
            <p>
              <%= t('simple_form.labels.background.citizen') %>
              <strong>
                <%= boolean_to_human(@consultant.background.citizen) %>
              </strong>
            </p>
            <p>
              <%= t('simple_form.labels.background.convicted') %>
              <strong>
                <%= boolean_to_human(@consultant.background.convicted) %>
              </strong>
            </p>
            <p>
              <%= t('simple_form.labels.background.parole') %>
              <strong>
                <%= boolean_to_human(@consultant.background.parole) %>
              </strong>
            </p>
            <p>
              <%= t('simple_form.labels.background.illegal_drug_use') %>
              <strong>
                <%= boolean_to_human(@consultant.background.illegal_drug_use) %>
              </strong>
            </p>
          </div>
          <div class="large-6 columns">
            <p>
              <%= t('simple_form.labels.background.illegal_purchase') %>
              <strong>
                <%= boolean_to_human(@consultant.background.illegal_purchase) %>
              </strong>
            </p>
            <p>
              <%= t('simple_form.labels.background.illegal_prescription') %>
              <strong>
                <%= boolean_to_human(@consultant.background.illegal_prescription) %>
              </strong>
            </p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="large-2 columns">
        <div class="row">
          <div class="large-12 columns">
            <%= link_to t('views.consultant.actions.approve'),
            approve_consultant_path(@consultant),
            method: :put,
            class: 'button success' if policy(@consultant).approve? %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= link_to t('views.consultant.actions.reject'),
            reject_consultant_path(@consultant),
            method: :put,
            class: 'button alert' if policy(@consultant).reject? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="medium-8 columns main">
    <%= render 'profiles/consultant_header' %>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to t('views.profile.actions.download_resume'),
                    download_resume_path(@consultant),
                    class: 'button small secondary download' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= render 'profiles/contact_information' if user_is_gces? %>
        <%= render 'profiles/background_and_history' %>
        <%= render @consultant.project_histories if user_signed_in? %>
      </div>
    </div>
  </div>
  <div class="medium-4 columns sidebar">
    <%= render 'profiles/education' %>
    <%= render 'profiles/certification' %>
    <%= render 'profiles/expertise' %>
    <%= render 'profiles/military_information' if user_signed_in? %>
  </div>
</div>
