<%= simple_form_for(resource, as: resource_name,
         url: registration_path(resource_name), html: {class: 'theme-gces', id: 'registration_form'}) do |f| %>
    <%= f.error_notification %>
    <%= render 'shared/base_error', model: resource %>
    <%= f.input :email, required: false, placeholder: 'Email', wrapper: :custom_input, label: false,
        input_wrapper_html: { class: 'icon-email' } %>
    <div class="grid columns-2 margin-top-1r" role="grid">
        <div class="grid-6-12" role="gridcell">
          <%= f.input :first_name, required: false, placeholder: 'First Name', label: false,
                  wrapper: :custom_input, input_wrapper_html: { class: 'icon-profile' } %>
        </div>
        <div class="grid-6-12" role="gridcell">
          <%= f.input :last_name, required: false, placeholder: 'Last Name', label: false,
                      wrapper: :custom_input, input_wrapper_html: { class: 'icon-profile' } %>
        </div>
    </div>
    <%= f.input :password, required: false, placeholder: 'Password', label: false,
        wrapper: :custom_input, input_wrapper_html: { class: 'icon-key' } %>
    <%= f.input :password_confirmation, required: false, label: false,
        placeholder: 'Password Confirmation', wrapper: :custom_input, input_wrapper_html: { class: 'icon-key' } %>

    <fieldset class="note align-center">
      <p class="type-note">By clicking &ldquo;Sign up&rdquo;, you agree to our
        <%= link_to 'Terms of Service', terms_of_service_path, target: '_blank' %>
         and <%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank' %>.
        <br>You will also need to sign and agree to our
        <a href="/Independent Contractor and Service Activation Agreement.pdf"
           target="_blank">Consultant Agreement</a>
      </p>
    </fieldset>
    <div class="align-center">
      <%= button_tag 'Sign up', type: 'submit', class: "button-primary button-cta center register-button" %>
    </div>
<% end %>
