<%= content_for :main_class, 'main' %>
<% content_for :header do %>
    <%= render 'layouts/header' %>
<% end %>

<header class="page-header">
    <h2><%= t('views.registrations.new.title') %></h2>
</header>
<div class="page-content">
    <%= render "devise/registrations/form" %>

    <%= render "devise/shared/links" %>
</div>
<% content_for :footer do %>
    <%= render 'layouts/footer' %>
<% end %>