= render 'layouts/header'
.page-content
  %header.page-subheader
    %h1 Review and Accept Draft Consultant Work Agreement
    %p.type-intro
      Brief introduction sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  = simple_form_for [@project_agreement, @agreement], url: project_agreement_ra_reviews_path(@project_agreement),
    html: {class: 'theme-gces project-agreement-form'} do |f|
    %section.ui-card.no-padding.sleeve.is-animated
      %header.card-header.card-bookmarks
        %nav
          %ol.menu-horizontal
            %li
              %a{:href => "#project-name"} Project Name
            %li
              %a{:href => "#performance"} Period of Performance
            %li
              %a{:href => "#location"} Work Location
            %li
              %a{:href => "#travel-expenses"} Travel Expenses
            %li
              %a{:href => "#rate"} Consultant Rate
            %li
              %a{:href => "#sow"} Statement of Work
      - unless f.object.errors[:commit].blank?
        %section.card-section
          = f.error :commit, :id => "name_error", class: 'form-validation message error no-padding'
      %section.card-section
        %h3 1. Name of Project
        %p.type-display= @project.project_name
        = f.input :project_name_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :project_name_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
      %section.card-section
        %h3 2. PROJECT PERIOD OF PERFORMANCE
        %p.type-display
          %span
            %strong Start:
            = @project.proposed_start.to_formatted_s(:month_day_and_year) + ' - '
          %span
            %strong End:
            = @project.proposed_end.to_formatted_s(:month_day_and_year)
        = f.input :project_period_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :project_period_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
      %section.card-section
        %h3 3. CONSULTANT'S WORK LOCATION
        %p.type-display= @project.consultant_location
        = f.input :consultant_location_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :consultant_location_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
      %section.card-section
        %h3 4. TRAVEL AND EXPENSES
        %p.type-display= @project.travel_authorization ? 'Authorized' : 'Not Authorized'
        = f.input :travel_authorization_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :travel_authorization_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
      %section.card-section
        %h3 5. CONSULTANT RATE
        %table.table-finance
          %tbody
            %tr
              %td{:width => "65"} Consultant Hourly Rate
              %td.type-strong.align-right{:width => "35"}= number_to_currency @project.proposed_rate, precision: 2
            %tr
              %td{:width => "65"} Fixed GCES Fee
              %td.type-strong.align-right.type-dark{:width => "35"}
                %span.icon-plus.type-dark>
                $10.00
          %tfoot
            %tr
              %td{:width => "65"} Total Bill Rate:
              %td.style-strong.align-right{:width => "35"}= number_to_currency (@project.proposed_rate.to_i + 10), precision: 2
        = f.input :consultant_rate_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :consultant_rate_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
      %section.card-section
        %h3 6. PROJECT STATEMENT OF WORK (SOW)
        - unless @project.sow_file_name.blank?
          %fieldset.section
            %label Upload File Containing Statement of Work
            .ui-uploader
              %ul.upload-list
                %li.upload-item
                  = @project.sow_file_name
                  %span= number_to_human_size(@project.sow_file_size)
                  %button.icon-cloud-down
        - unless @project.summarize_statement.blank?
          %fieldset.section
            %label Statement of Work
            %p= @project.summarize_statement
        = f.input :sow_agreement,
          wrapper: :custom_radio_buttons, html: {class: 'columns-4 air-top'},
          collection: [[true, 'Agree'], [false, 'Reject']],
          :item_wrapper_class => 'grid-3-12 ui-checkbox small',
          required: false,
          :item_wrapper_tag => 'div',
          label_method: :last,
          value_method: :first,
          item_label_tag: false,
          as: :radio_buttons
        .section-thread.grid-12-12{style:'display: none'}
          .thread-message
            = f.input :sow_reason,label: false, wrapper: :custom_no_wrapper_input, as: :text,
                placeholder: 'Please, provide a reason for declining this section',
                input_html: { rows: 3 }
    = f.submit 'Accept Draft Work Agreement', class: "button-primary button-cta", style: 'margin-top: 1rem'
    = f.submit 'Request Draft Work Agreement Modification', class: "button-primary button-cta", name: 'reject_draft'

- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground
