
%h3
  %span.button.tiny{class: @article.status == 'open' ? '' : 'alert'}= @article.status.titleize
%h2{:style => 'margin-bottom: 20px;'}
  %span= @article.title
  = link_to 'Create New Question', new_article_path, class: 'button tiny pull-right'
.discussion-timeline
  .timeline-comment-wrapper
    = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
    .timeline-comment
      .timeline-comment-header
        - if current_user == @article.author
          = link_to 'Edit', edit_article_path(@article), class: 'timeline-comment-action'
        .timeline-comment-header-text
          %strong= @article.author.full_name
          commented
          = time_ago_in_words(@article.updated_at)
          = ' ago'
      .comment-content
        .comment-body
          = @article.text
          .attached_files
            - @article.article_attachments.each do |attach|
              = link_to download_article_attachment_path(attach) do
                - if attach.attach_content_type.start_with? 'image'
                  = image_tag attach.attach.url(:medium)
                - else
                  = image_tag 'attach-icon.png'
                %br
                %small= attach.attach_file_name
  - @comments.each do |comment|
    .timeline-comment-wrapper
      = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
      .timeline-comment
        .timeline-comment-header
          .timeline-comment-header-text
            %strong= article_author_prefix(comment.author) + comment.author.full_name
            commented
            = time_ago_in_words(comment.updated_at)
            = ' ago'
          = link_to 'Edit', '#', class: 'pull-right edit-comment' if comment.author == current_user
        .comment-content
          .comment-body
            = simple_format comment.body
            .attached_files
              - comment.comment_attachments.each do |attach|
                = link_to download_comment_attachment_path(attach) do
                  - if attach.attach_content_type.start_with? 'image'
                    = image_tag attach.attach.url(:medium)
                  - else
                    = image_tag 'attach-icon.png'
                  %small= attach.attach_file_name
          - if comment.author == current_user
            = simple_form_for [@article, comment],
                            remote: true, html: {class: 'edit-comment-form'} do |f|
              = f.error_notification
              = f.input :body, label: false, input_html: { rows: 4, maxlength: 500 }
              = f.simple_fields_for :comment_attachments do |c|
                = c.input :attach, label: 'Attach Files', input_html: {:multiple => true, name: "comment_attachments[attach][]"}
              = f.button :submit, class: 'btn btn-primary'
              = button_tag "Cancel", :type => 'button', class: 'button tiny info cancel-edit'
  - if @article.status == 'open'
    %hr
    .discussion-timeline-actions
      .timeline-comment-wrapper
        = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
        .timeline-comment
          .timeline-comment-header
            .timeline-comment-header-text
              %strong Your comment
          .comment-content
            .comment-body
              = simple_form_for [@article, @comment] do |f|
                = f.error_notification
                = render 'shared/base_error', model: @article
                .form-inputs
                  = f.input :body, label: false, input_html: { rows: 5, maxlength: 500 }
                  = f.simple_fields_for :comment_attachments do |c|
                    = c.input :attach, label: 'Attach Files', input_html: {:multiple => true, name: "comment_attachments[attach][]"}
                .form-actions
                  = f.button :submit



