%h2{:style => 'margin-bottom: 20px;'}
  %span= @article.title
  = link_to 'Create New Question', new_article_path, class: 'button tiny pull-right'
.discussion-timeline
  .timeline-comment-wrapper
    - if @article.user.consultant.wizard_step == Wicked::FINISH_STEP
      = image_tag @article.user.consultant.profile_image.url(:medium), class: 'timeline-comment-avatar'
    - else
      = image_tag 'admin/missing.png', class: 'timeline-comment-avatar'
    .timeline-comment
      .timeline-comment-header
        - if current_user == @article.user
          = link_to 'Edit', edit_article_path(@article), class: 'timeline-comment-action'
        .timeline-comment-header-text
          %strong= @article.user.full_name
          commented
          = time_ago_in_words(@article.updated_at)
          = ' ago'
      .comment-content
        .comment-body
          = @article.text

  - @comments.each do |comment|
    .timeline-comment-wrapper
      - if comment.commenter.consultant.wizard_step == Wicked::FINISH_STEP
        = image_tag comment.commenter.consultant.profile_image.url(:medium), class: 'timeline-comment-avatar'
      - else
        = image_tag 'admin/missing.png', class: 'timeline-comment-avatar'
      .timeline-comment
        .timeline-comment-header
          .timeline-comment-header-text
            %strong= comment.commenter.full_name
            commented
            = time_ago_in_words(comment.updated_at)
            = ' ago'
        .comment-content
          .comment-body
            = comment.body
  %hr
  .discussion-timeline-actions
    .timeline-comment-wrapper
      - if current_user.consultant.wizard_step == Wicked::FINISH_STEP
        = image_tag current_user.consultant.profile_image.url(:medium), class: 'timeline-comment-avatar'
      - else
        = image_tag 'admin/missing.png', class: 'timeline-comment-avatar'
      .timeline-comment
        .timeline-comment-header
          .timeline-comment-header-text
            %strong Your comment
        .comment-content
          .comment-body
            = simple_form_for [@article, @comment] do |f|
              = f.error_notification
              = render 'shared/base_error', model: @article
              .form-inputs
                = f.input :body, label: false, input_html: { rows: 5, maxlength: 500 }
              .form-actions
                = f.button :submit



