
%h3
  %span.button.tiny{class: @article.status == 'open' ? '' : 'alert'}= @article.status.titleize
%h2{:style => 'margin-bottom: 20px;'}
  %span= @article.title
  = link_to 'Create New Question', new_article_path, class: 'button tiny pull-right'
.discussion-timeline
  .timeline-comment-wrapper
    = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
    .timeline-comment
      .timeline-comment-header
        - if current_user == @article.author
          = link_to 'Edit', edit_article_path(@article), class: 'timeline-comment-action'
        .timeline-comment-header-text
          %strong= @article.author.full_name
          commented
          = time_ago_in_words(@article.updated_at)
          = ' ago'
      .comment-content
        .comment-body
          = @article.text

  - @comments.each do |comment|
    .timeline-comment-wrapper
      = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
      .timeline-comment
        .timeline-comment-header
          .timeline-comment-header-text
            %strong= comment.author.full_name
            commented
            = time_ago_in_words(comment.updated_at)
            = ' ago'
        .comment-content
          .comment-body
            = comment.body
  - if @article.status == 'open'
    %hr
    .discussion-timeline-actions
      .timeline-comment-wrapper
        = image_tag user_avatar(@article.author), class: 'timeline-comment-avatar'
        .timeline-comment
          .timeline-comment-header
            .timeline-comment-header-text
              %strong Your comment
          .comment-content
            .comment-body
              = simple_form_for [@article, @comment] do |f|
                = f.error_notification
                = render 'shared/base_error', model: @article
                .form-inputs
                  = f.input :body, label: false, input_html: { rows: 5, maxlength: 500 }
                .form-actions
                  = f.button :submit



