= simple_form_for @form, url: conversation_path, method: :post do |f|
  = f.error_notification
  = render 'shared/base_error', model: @form
  = f.input :subject
  = f.input :message, as: :text, input_html: {class: 'small', cols: 5, rows: 5}
  = f.input :attachment, as: :file
  = f.button :submit, t('views.sales_lead.new.save')
