<div class="medium-12 columns">
  <% if consultant_signed_in? %>
      <div class="panel">
        <div class="row">
          <div class="medium-9 columns">
            <p>
              You have received a project offer.
            </p>

            <%= render 'conversations/hired_terms' %>
          </div>
          <div class="medium-3 columns">
            <%= button_to 'Agree to Terms',
                          agree_to_terms_conversation_path(@contact_request),
                          method: :post,
                          class:  'button tiny',
                          data:   {
                                  confirm: {
                                          body: 'Are you sure that you want to agree to these
                                          terms?  By clicking confirm, you will not be to reopen
                                          conversation dialog with this company until they reach
                                          out to you again.'
                                  }
                          } %>
            <%= content_tag(:button,
                            'Reject Terms',
                            type:  :button,
                            class: 'button tiny respond-to-message') %>
          </div>
        </div>
      </div>
      <div class="row respond-to-message-form" style="display: none; opacity: 0;">
        <div class="medium-12 columns">
          <%= simple_form_for @contact_request,
                              url: reject_terms_conversation_path(@contact_request) do |f| %>
              <%= f.input :message, as: :text %>
              <%= f.button :submit, 'Agree to terms' %>
          <% end %>
        </div>
      </div>
  <% else %>
      <div class="row">
        <div class="medium-12 columns">
          <div class="panel">
            <p>
              Your message is currently pending a response from the consultant. Feel free to
              follow up with a message or wait for the consultant to respond to your inquiry.
            </p>

            <%= render 'conversations/hired_terms' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
