<% if @box == 'trash' %>
<%= link_to 'Empty trash', empty_trash_conversations_path, class: 'button tiny alert',
            method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<ul class="nav nav-tabs custom">
  <%= mailbox_section 'inbox', @box %>
  <%= mailbox_section 'sent', @box %>
  <%= mailbox_section 'trash', @box %>
</ul>
<div class="message-inbox">
  <% conversations.each do |conversation| %>
    <div class="row <%= conversation.is_unread?(pundit_user) ? '' : 'read' %>">
      <div class="medium-8 columns">
        <% message = conversation.messages.first %>
        <% consultant = conversation.consultant_recipient %>
        <h5>
          <%= if consultant_signed_in?
                if conversation.originator.class.name != 'Admin'
                  "#{conversation.originator.full_name} - #{conversation.originator.company
                          .company_name}"
                else
                  "#{conversation.originator.full_name + ' - Admin'}"
                end
              end %>
          <% if user_signed_in? %>
              <%= link_to consultant_path(consultant) do %>
                  <%= image_tag(consultant.profile_image.url(:thumb),
                                class: 'th profile-thumb-mini') %>
                  <%= consultant.full_name %>
              <% end %>
          <% end %>
        </h5>
        <h6>
          <%= link_to conversation.subject, conversation_path(conversation) %>
        </h6>

        <p>
          <%= link_to truncate(conversation.messages.last.body, length: 100),
                      conversation_path(conversation) %>
        </p>
      </div>
      <div class="medium-4 columns">
        <p class="right">
          <%= conversation.updated_at.strftime("%B %d") %>
        </p>
        <p class="right">
          <% if conversation.is_trashed?(pundit_user) %>
          <%= link_to 'Restore', restore_conversation_path(conversation), class: 'button primary tiny', method: :post %>
          <% else %>
          <%= link_to 'Move to Trash', conversation_path(conversation), class: 'button alert tiny',
                      method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </p>
      </div>
    </div>
<% end %>
<%= paginate conversations %>
</div>