= render :partial => 'admin/navbar'
#page-wrapper.gray-bg
  = render :partial => 'admin/topbar'
  = render :partial => 'header', :locals => { :mode => 'index'}
  .row
    .wrapper.wrapper-content.animated.fadeInRight
      .ibox.float-e-margins
        %ul.nav.nav-tabs.custom
          = mailbox_section 'inbox', @box
          = mailbox_section 'sent', @box
        .ibox-content.custom
          %ul.list-group.inbox
            = render partial: 'conversation', collection: @conversations