- page_title 'Messages'

.row
  .wrapper.wrapper-content.animated.fadeInRight
    .ibox.float-e-margins
      %ul.nav.nav-tabs.custom
        = mailbox_section 'inbox', @box
        = mailbox_section 'sent', @box
        = mailbox_section 'trash', @box
      .ibox-content.custom
        - if @box == 'trash'
          = link_to 'Empty trash', empty_trash_admin_conversations_path, class: 'btn btn-danger', method: :delete,
            data: {confirm: 'Are you sure?'}
        %ul.list-group.inbox
          %li.list-group-item.clearfix.title.read
            .full-name
              %strong Sender Name
            .last-message
              %strong Last Message
            %span.pull-right.sent-date
              %strong Sent Date
          = render partial: 'conversation', collection: @conversations
        = paginate @conversations