<%= content_for :main_class, 'main' %>

<% content_for :header do %>
    <%= render 'layouts/header' %>
<% end %>

<header class="page-header">
  <h2>Change Password</h2>
</header>

<div class="page-content">
  <%= simple_form_for(@user, method: :put,
                      url: change_password_path, html: {class: 'theme-gces', id: 'change_password_form'}) do |f| %>
      <%= render 'shared/base_error', model: @user %>
      <%= f.input :current_password %>
      <%= f.input :password, required: false, placeholder: 'Password', label: false,
                  wrapper: :custom_input, input_wrapper_html: { class: 'icon-key' } %>
      <%= f.input :password_confirmation, required: false, label: false,
                  placeholder: 'Password Confirmation', wrapper: :custom_input, input_wrapper_html: { class: 'icon-key' } %>

      <div class="align-center">
        <%= button_tag 'Update Password', type: 'submit', class: "button-primary button-cta center login-button" %>
      </div>
  <% end %>
</div>
<% content_for :footer do %>
    <%= render 'layouts/footer' %>
<% end %>