<h1>Change Password</h1>

<%= simple_form_for @user, url: change_password_path, method: :put do |f| %>
    <%= f.error_notification %>
    <%= render 'shared/base_error', model: @user %>

    <div class="form-inputs">
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Update Password' %>
    </div>
<% end %>
