.row.border-bottom
  %nav.navbar.navbar-static-top{:role => "navigation",  :style => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href=> "#"}
        %i.fa.fa-bars
      = render 'layouts/admin/search'

    %ul.nav.navbar-top-links.navbar-right
      %li
        = link_to destroy_admin_session_path, :method => :delete do
          %i.fa.fa-sign-out Log out
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2= yield(:page_title)
    %ol.breadcrumb
      = render_breadcrumbs tag: :li, separator: ''
.row.m-t-lg
  .col-md-12
    = render 'layouts/admin/flash'