<div class="wizard">
  <h4>Position(s) on Projects</h4>
    <div class="row">
    <div class="large-12 columns skills-table four-columns">
      <%= f.input :position_ids,
      label: 'Government Contractor - Business Capture Experience',
      collection: Position.where(market_id: 1).order("label").pluck(:label, :id),
      as: :check_boxes %>
    </div>
  </div>
  <div class="row">
  <div class="large-12 columns skills-table four-columns">
    <br>
    <br>
    <br>
    <%= f.input :position_ids,
    label: 'Government & Non-government Experience (Includes Government Contract Support Services)', 
    collection: Position.where(market_id: 2).order("label").pluck(:label, :id),
    as: :check_boxes
    %>
  </div>
</div>
  <div class="row">
    <br>
    <br>
    <br>
    <div class="large-6 columns">
      <%= f.input :client_company %>
    </div>
    <div class="large-3 columns">
      <%= f.input :start_date, date_options %>
    </div>
    <div class="large-3 columns">
      <%= f.input :end_date, date_options.merge( placeholder: 'Present' ) %>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <br>
    <div class="large-12 columns skills-table four-columns">
      <%= f.input :customer_name_id,
      collection: CustomerName.order("label").pluck(:label, :id),
      as: :radio_buttons %>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <br>
    <div class="large-12 columns skills-table four-columns">
      <%= f.input :project_type_id,
      collection: ProjectType.order(:label).pluck(:label, :id),
      as: :radio_buttons %>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <br>
    <div class="large-12 columns">
      <%= f.input :description, as: :text, input_html: { class: 'medium', cols: 5, rows: 10 } %>
    </div>
  </div>
  <h4>Reference Information</h4>
  <p class="hint">Current contact information is important. We contact at least 3 project references before
    releasing your profile for search.</p>
  <hr/>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :client_poc_name %>
    </div>
    <div class="large-6 columns">
      <%= f.input :client_poc_email %>
    </div>
  </div>
  <%= f.simple_fields_for :phone do |p| %>
      <%= render 'phones/phone_fields', f: p, delete_phone: false %>
  <% end %>
</div>
