<div class="row">
  <div class="col-md-12 project">
    <h5>
      <%= project_history.positions.pluck(:label).join(', ') %>
    </h5>
    <p class="info">
      <strong><%= project_history.client_company %></strong>
        <span class="sep"> &ndash; </span>
        <%= project_history.customer_name.label if project_history.customer_name %><br>
        <span class="focus">
            <%= t('simple_form.labels.project_history.project_type') %>:
            <%= project_history.project_type.label %>
        </span>
         <br>
        <span class="date">
          <%= date_to_formatted_s(project_history.start_date) %> &ndash;
          <%= date_to_formatted_s(project_history.end_date) || t('simple_form.now') %>
          (<%= date_in_words(project_history.start_date, project_history.end_date) %>)
        </span>
    </p>
    <% if user_is_gces? %>
      <div class="row">
        <div class="col-md-6">
          <%= t('simple_form.labels.project_history.client_poc_name') %>:
          <%= project_history.client_poc_name %>
          </div>
        <div class="col-md-6">
          <%= t('simple_form.labels.project_history.client_poc_email') %>:
          <%= mail_to project_history.client_poc_email %>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <%= t('simple_form.labels.project_history.client_poc_phone') %>:
            <%= project_history.phone.number_with_ext if project_history.phone.present? %>
          </div>
          <div class="col-md-6">
            <%= t('simple_form.labels.phone.phone_type') %>:
            <%= project_history.phone.phone_type.label if project_history.phone.present? && project_history.phone.phone_type%>
          </div>
        </div>
    <% end %>
    <p class="desc"><%= project_history.description %></p>
  </div>
</div>
