%h3 Dashboard
.row
  .medium-12.columns
    - if current_user.consultant && current_user.consultant.wizard_step == Wicked::FINISH_STEP
      = link_to 'Manage Consultant Profile', consultant_root_path, class: 'button primary tiny'
    - else
      = link_to 'Create Consultant Profile', create_consultant_path, class: 'button primary tiny'
    - if current_user.owned_company.present?
      = link_to 'Manage Contractor Profile', contractor_root_path, class: 'button primary tiny'
    - else
      = link_to 'Create Contractor Profile', '#', class: 'button primary tiny'
    = link_to 'Go To Company Registration', registration_process_users_path, class: 'button primary tiny'

