- content_for :header do
  = render 'layouts/registration_header'
.page-content
  %section
    %section.entity-company.taxonomy-view
      %header.ui-box.taxonomy-head{"data-section" => "toggle-head", "data-toggle-container" => ""}
        .entity-head{"data-ignore-global-close" => "1", "data-target" => "toggle-head", "data-type" => "cm-toggle"}
          %h1= @owned_company.company_name
          .ui-panel-toggle.icon-cr-plus-full
        .entity-info.grid.columns-3.ui-panel{"data-section" => "toggle-head", "data-slide-open" => ""}
          .grid-4-12
            %h3 Company Address
            %p= @owned_company.address
          .grid-4-12
            %h3 Company Contract POC
            %p.name= @owned_company.owner.full_name.split.map(&:capitalize).join(' ')
            %p.email= @owned_company.owner.email
            %p= @owned_company.work_phone
          .grid-4-12
            %h3 Company Documents
            %ul.doc-list
              %li
                = link_to_if(@owned_company.gsc.present?, @owned_company.gsc_file_name, download_gsc_path(@owned_company), target: '_blank') {}
              %li
                = link_to_if(@owned_company.contract.present?, @owned_company.contract_file_name, download_contract_rider_path(@owned_company), target: '_blank') {}
      %section.taxonomy-units
        %section.row.unit-maximized.connect-rule-up
          %section
            %article.tab-panel.is-open
              .section-intro
                %h1.section-title Create Business Unit
                %h2 Hello #{current_user.full_name}
                %p.section-description
                  You were invited by
                  %span.type-primary= @account_manager.company.owner.full_name
                  to be an
                  = succeed "." do
                    %span.type-primary Account Manager
                    for #{@owned_company.company_name}. To accept your role, you must register the Business Unit you plan to supervise online with GCES.
                %figure.figure-business-unit
                  = image_tag "infographics_business_team_unit.png"
              - if @error_message.nil?
                = simple_form_for(@form, method: :put,
                  url: put_register_account_manager_path, html: {class: 'theme-gces style-alternate align-left', id: 'reg_am_form'}) do |f|
                  = render 'shared/base_error', model: @form
                  = f.input :business_unit_name, required: false, autofocus: true, placeholder: 'Company Business Unit Name',
                    label: 'Enter Your Business Unit Name:', wrapper: :custom_input, input_wrapper_html: { class: 'icon-building' }
                  = f.input :phone, wrapper: :custom_phone_grid_input, label: 'Provide your Cell Phone Number:', required: false,
                    placeholder: '000', as: :cell_phone_number
                  = button_tag 'Create Business Unit', type: 'submit', class: "button-cta button-primary icon-cr-arrow-right register-button"
              - else
                .ui-notification.alert-error
                  = @error_message
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground