= render 'layouts/header'
.page-content
  %section.entity-company.taxonomy-view
    %header.ui-box.taxonomy-head{"data-section" => "toggle-head", "data-toggle-container" => ""}
      .entity-head{"data-ignore-global-close" => "1", "data-target" => "toggle-head", "data-type" => "cm-toggle"}
        %h1= @company.company_name
        .ui-panel-toggle.icon-cr-plus-full
      .entity-info.grid.columns-3.ui-panel{"data-section" => "toggle-head", "data-slide-open" => ""}
        .grid-4-12
          %h3 Company Address
          %p= @company.address
        .grid-4-12
          %h3 Company Contract POC
          %p.name= @company.owner.full_name.split.map(&:capitalize).join(' ')
          %p.email= @company.owner.email
          %p= @company.work_phone
        .grid-4-12
          %h3 Company Documents
          %ul.doc-list
            %li
              = link_to_if(@company.gsc.present?, @company.gsc_file_name, download_gsc_path(@company), target: '_blank') {}
            %li
              = link_to_if(@company.contract.present?, @company.contract_file_name, download_contract_rider_path(@company), target: '_blank') {}
    %section.taxonomy-units
      %section.row.set-4.connect-rule-up
        - @company.business_unit_names.limit(4).each do |bun|
          - account_manager_assigned = false
          %section.entity-unit.connect-up{'data-section'=>"toggle-unit-#{bun.id}", 'data-toggle-container' => ''}
            %header.ui-card.ui-card-taxonomy.has-label.ui-panel-toggle{"data-target" => "toggle-unit-#{bun.id}",
              "data-type" => "cm-toggle", class: (bur_exists(bun) ? '' : 'incomplete')}
              .card-label Business Unit
              .card-content
                %h2.card-title= bun.name
              .card-footer.unit-stats
                .unit-stat.icon-profile 5
                .unit-stat.icon-doc 17
            %article.unit-info.ui-panel.ui-tabs{'data-section'=>"toggle-unit-#{bun.id}",
              'data-slide-open' => ''}
              %header.unit-info-header
                %nav
                  %ul.menu-horizontal
                    %li.is-active.tab-toggle
                      %a{:href => ""} Unit Roles
                    %li.tab-toggle
                      %a{:href => ""} Consultant
                    %li.tab-toggle
                      %a{:href => ""} Activity
                    %li.tab-toggle
                      %a{:href => ""} Projects
                    %li.tab-toggle
                      %a{:href => ""} Reports
              .tab-panel
                %table.table-blocks.bur-table{width: '100%'}
                  %thead
                    %tr
                      %th{:width => "50%"}
                      %th.permission-selection.align-center{:width => "7%"}
                        .ui-tag.tag-role SA
                      %th.permission-selection.align-center{:width => "7%"}
                        .ui-tag.tag-role RA
                      %th.permission-selection.align-center{:width => "7%"}
                        .ui-tag.tag-role AA
                  %tbody
                    - bun.business_unit_roles.each do |bur|
                      - if bur.user.id == bun.account_manager.user.id
                        - account_manager_assigned = true
                      %tr{class: (account_manager_assigned ? 'highlight' : '')}
                        %td.role-info
                          %span.user-thumbnail.icon-profile2
                          %span= bur.user.full_name
                        %td.role-selection
                          .ui-checkbox.small
                            = check_box_tag 'sa', '', (bur.selection_authority ? true : false), disabled: true
                            %label{:for => "test04"}
                        %td.role-requisition
                          .ui-checkbox.small
                            = check_box_tag 'ra', '', (bur.requisition_authority ? true : false), disabled: true
                            %label{:for => "test05"}
                        %td.role-approval
                          .ui-checkbox.small
                            = check_box_tag 'aa', '', (bur.approval_authority ? true : false), disabled: true
                            %label{:for => "test06"}
                    - unless account_manager_assigned
                      %tr.highlight
                        %td.role-info
                          %span.user-thumbnail.icon-profile2
                          %span= bun.account_manager.user.full_name
                          %span.ui-tag.xsmall Account Manager
                        %td.role-selection
                          .ui-checkbox.small
                            = check_box_tag 'sa', '', false, disabled: true
                            %label{:for => "test01"}
                        %td.role-requisition
                          .ui-checkbox.small
                            = check_box_tag 'ra', '', false, disabled: true
                            %label{:for => "test02"}
                        %td.role-approval
                          .ui-checkbox.small
                            = check_box_tag 'aa', '', false, disabled: true
                            %label{:for => "test03"}
                  %tfoot
                    %tr
                      %td{:colspan => "4"}
                        = link_to 'Assign New Business Role', new_business_unit_role_path(bun_id: bun.id), class: 'add-block'
    %footer.taxonomy-footer
      = link_to new_business_unit_name_path do
        .add-unit.action-edit.icon-plus
    .connect-pipe
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground
- content_for :js do
  :javascript
    (function () {
      $(function () {
        var eventEmitter = $(document);

        eventEmitter.on('cm.toggle.close', function (event, data) {
          $('.entity-taxonomy').removeClass('is-open');
        });

        eventEmitter.on('cm.toggle.open', function (event, data) {
          if (data['toggle-head'] === undefined) {
            $('.entity-taxonomy').addClass('is-open');
          }
        });
      });
    })();