- content_for :header do
  %header#main-header{:role => "banner"}
    = link_to 'GCES', root_path, class: 'site-brand'
    .head-scroller
      %nav.main-menu.menu-vertical{:role => "navigation"}
        %ul
          %li
            %a{:href => ""} What we do
          %li
            %a{:href => ""} Join the Exchange
          %li
            %a{:href => ""} Community Forum
          %li
            %a{:href => ""} Tutorials
          %li
            %a{:href => ""} Education
          %li
            %a{:href => ""} Articles
      %ul.qa-list{:style => "margin-top: 4rem;"}
        %li.is-active
          %span.ui-toggle{"data-target" => "qa-1", "data-type" => "cm-toggle"} What is a Draft Consultant Work Agreement?
          .qa-content.ui-target.is-open{"data-section" => "qa-1"}
            %p This is a sample of how to include answers in this qa list. Lorem ipsum sit amet quosque tandem numa lum consecter.
        %li What is a Statement of Work?

%header.page-header.dashboard-header
  %nav.dashboard-menu{:role => "navigation"}
    %ul.menu-horizontal
      %li.active
        %a{:href => "index-2.html"} Company
      %li
        %a{:href => ""} Projects
      %li
        %a{:href => ""} Reports
      %li
        %a{:href => ""} Account
.page-content
  %section.entity-company.taxonomy-view
    %header.ui-box.taxonomy-head{"data-section" => "toggle-head", "data-toggle-container" => ""}
      .entity-head{"data-ignore-global-close" => "1", "data-target" => "toggle-head", "data-type" => "cm-toggle"}
        %h1= @owned_company.company_name
        .ui-panel-toggle.icon-cr-plus-full
      .entity-info.grid.columns-3.ui-panel{"data-section" => "toggle-head", "data-slide-open" => ""}
        .grid-4-12
          %h3 Company Address
          %p= @owned_company.address
        .grid-4-12
          %h3 Company Contract POC
          %p.name= @owned_company.owner.full_name.split.map(&:capitalize).join(' ')
          %p.email= @owned_company.owner.email
          %p= @owned_company.work_phone
        .grid-4-12
          %h3 Company Documents
          %ul.doc-list
            %li
              = link_to_if(@owned_company.gsc.present?, @owned_company.gsc_file_name, download_gsc_path(@owned_company), target: '_blank') {}
            %li
              = link_to_if(@owned_company.contract.present?, @owned_company.contract_file_name, download_contract_rider_path(@owned_company), target: '_blank') {}
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground
