<%= content_for :main_class, 'main' %>
<% content_for :header do %>
    <%= render 'layouts/header' %>
<% end %>
<header class="page-header">
    <h2>Forgot your password?</h2>
</header>
<div class="page-content">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'theme-gces'}) do |f| %>
      <%= f.error_notification %>
      <%= render 'shared/base_error', model: resource %>
      <fieldset class="note align-center">
        <p>By entering your email address and clicking 'Send me reset password instructions' you will
            receive an email with instructions to reset your password. Please be sure to enter your
            correct email and check your spam folder for the password reset instructions.</p>
      </fieldset>

      <%= f.input :email, required: false, autofocus: true, label: false,
          placeholder: 'Email', wrapper: :custom_input, input_wrapper_html: { class: 'icon-email' } %>

      <div class="align-center air">
        <%= f.button :submit, "Send me reset password instructions", class: "button-primary button-cta center" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<% content_for :footer do %>
    <%= render 'layouts/footer' %>
<% end %>