<% consultants.each do |consultant| %>
    <article class="row consultant-profile">
      <div class="large-3 columns">
        <%= link_to consultant_path(consultant) do %>
            <%= image_tag(consultant.profile_image.url(:thumb), class: 'th profile-thumb') %>
        <% end %>
      </div>
      <div class="large-9 columns">
        <h5>
          <%= link_to consultant.full_name, consultant_path(consultant) %>
        </h5>

        <p>
          <strong>
            <%= t('simple_form.labels.military.clearance_level') %>:
          </strong>
          <%= if consultant.military && consultant.military.clearance_level
                consultant.military.clearance_level.label
              else
                t('activerecord.models.attributes.clearance_level.none')
              end
          %>
          <br/>
          <strong>
            <%= t('simple_form.labels.consultant.willing_to_travel') %>:
          </strong>
          <%= boolean_to_human consultant.willing_to_travel %>
        </p>
      </div>
    </article>
<% end %>
