<div id="one" class="screen">
  <div class="row">
    <h2 class="intro">
      GCES offers government contractors a fully automated, web&#8209;based marketplace to easily 
      identify and quickly engage qualified consultants.
    </h2>
    <div class="row">
      <div class="one-fifth columns">
        <%= image_tag('icon-nationwide.png', alt: 'Nationwide') %>
        <p>Nationwide Consultant Database</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-search.png', alt: 'Search') %>
        <p>Efficient, Intelligent Search for Needed Expertise</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-communications.png', alt: 'Communication') %>
        <p>Direct Consultant&#8209;Government Contractor Communication</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-fast.png', alt: 'Fast') %>
        <p>Fast Consultant Engagement</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-quality.png', alt: 'Quality') %>
        <p>Consultant Quality Control</p>
      </div>        
    </div>
  </div>
</div>
<div class="row options">
  <div class="row">
    <div class="medium-4 columns">
      <a href="/contractor_benefits" class="button">See <em>Contractor</em> Benefits</a>
    </div>
    <div class="medium-4 columns">
      <a href="/how_we_do_it" class="button">See <em>how</em> we do it!</a>
    </div>
    <div class="medium-4 columns">
      <a href="/consultant_benefits" class="button">See <em>Consultant/Mentor</em> Benefits</a>
    </div>
  </div>
</div>
<div class="row action"
  <ul data-orbit class="home-orbit">
    <li data-orbit-slide="consultant-benefits" class="slide-6 active">
      <div class="row">
        <h2 class="head">Unique GCES Features Enable Registered Consultants &amp; Mentors to&#8230;</h2>
        <div class="medium-6 columns">
          <h3>Increase Engagement Opportunities</h3>
          <ul>
            <li>Exposure to ever-expanding list of registered contractors nationwide</li>
            <li>Extensive consultant database search capabilities increase consultant visibility to Contractors</li>
            <li>Direct Consultant-Contractor communication and negotiation</li>
            <li>Pre-negotiated contracts enable rapid engagement</li>
            <li>Consultant quality control increases Contractor interest in registered consultants</li>
            <li>Mentor focus fills unique market niche</li>
          </ul>
        </div>
        <div class="medium-6 columns">
          <h3>Reduce Overhead Costs</h3>
          <ul>
            <li>Reduce/eliminate advertising costs though exposure on the GCES website</li>
            <li>Multiple engagements under a single consulting agreement reduces administrative costs and time</li>
            <li>GCES is consultants’ single source for time accounting, invoicing, payment and tax documents</li>
          </ul>
          <%= link_to 'Register as a Consultant', new_consultant_registration_path %>
          <a href="/contact_us">More information? Contact us &#187;</a>
        </div>  
      </div>
    </li>   
  </ul>
</div>
<div class="row coming">
  <div class="row">
    <div class="tablehead">
      <h4>Third party services available to Consultants and Government Contractors<span class="soon">coming soon!</span></h4>
    </div>
    <div class="tablebody">
      <div class="row">
        <div class="medium-2 columns">
          <p><strong>Client Company Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Specialized capture and proposal teams</li>
            <li>Process reengineering</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Capture Training</li>
            <li>Collaborative Environments</li>
            <li>Capture Process Tools</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <p><strong>Consultant Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Legal Services</li>
            <li>Accounting, tax, bookkeeping</li>
            <li>Financial Services</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Travel Services</li>
            <li>Investment &amp; Retirement</li>
            <li>Insurance Industry</li>
          </ul>        
        </div>      
      </div>
    </div>
  </div>
</div>
