<div id="one" class="screen">
  <div class="row">
    <h2 class="intro">
      GCES offers government contractors a fully automated, web&#8209;based marketplace to easily 
      identify and quickly engage qualified consultants.
    </h2>
    <div class="row">
      <div class="one-fifth columns">
        <%= image_tag('icon-nationwide.png', alt: 'Nationwide') %>
        <p>Nationwide Consultant Database</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-search.png', alt: 'Search') %>
        <p>Efficient, Intelligent Search for Needed Expertise</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-communications.png', alt: 'Communication') %>
        <p>Direct Consultant&#8209;Government Contractor Communication</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-fast.png', alt: 'Fast') %>
        <p>Fast Consultant Engagement</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-quality.png', alt: 'Quality') %>
        <p>Consultant Quality Control</p>
      </div>        
    </div>
  </div>
</div>
<div class="row options">
  <div class="row">
    <div class="medium-4 columns">
      <a href="#" class="button">See <em>Contractor</em> Benefits</a>
    </div>
    <div class="medium-4 columns">
      <a href="#" class="button">See <em>how</em> we do it!</a>
    </div>
    <div class="medium-4 columns">
      <a href="#" class="button">See <em>Consultant/Mentor</em> Benefits</a>
    </div>
  </div>
</div>
<div class="row action">
  <div class="row">
    <div class="medium-6 columns brown">
      <h2>GCES’ Consultants provide a full range of government business capture, proposal development and project start-up support to help Government Contractors win and execute business</h2>
      <a href="#" class="learnmore">Learn More &#187;</a>
    </div>
    <div class="medium-6 columns blue">
      <h2>GCES’ Mentors provide corporate and military career experience to support corporate development and special projects.</h2>
      <a href="#" class="learnmore">Learn More &#187;</a>
    </div>  
  </div>
</div>
<div class="row coming">
  <div class="row">
    <div class="tablehead">
      <h4>Third party services available to Consultants and Government Contractors<span class="soon">coming soon!</span></h4>
    </div>
    <div class="tablebody">
      <div class="row">
        <div class="medium-2 columns">
          <p><strong>Client Company Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Specialized capture and proposal teams</li>
            <li>Process reengineering</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Capture Training</li>
            <li>Collaborative Environments</li>
            <li>Capture Process Tools</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <p><strong>Consultant Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Legal Services</li>
            <li>Accounting, tax, bookkeeping</li>
            <li>Financial Services</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Travel Services</li>
            <li>Investment &amp; Retirement</li>
            <li>Insurance Industry</li>
          </ul>        
        </div>      
      </div>
    </div>
  </div>
</div>
