<div id="one" class="screen">
  <div class="row">
    <h2 class="intro">
      GCES offers government contractors a fully automated, web&#8209;based marketplace to easily 
      identify and quickly engage qualified consultants.
    </h2>
    <div class="row">
      <div class="one-fifth columns">
        <%= image_tag('icon-nationwide.png', alt: 'Nationwide') %>
        <p>Nationwide Consultant Database</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-search.png', alt: 'Search') %>
        <p>Efficient, Intelligent Search for Needed Expertise</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-communications.png', alt: 'Communication') %>
        <p>Direct Consultant&#8209;Government Contractor Communication</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-fast.png', alt: 'Fast') %>
        <p>Fast Consultant Engagement</p>
      </div>
      <div class="one-fifth columns">
        <%= image_tag('icon-quality.png', alt: 'Quality') %>
        <p>Consultant Quality Control</p>
      </div>        
    </div>
  </div>
</div>
<%= render 'pages/options' %>
<div class="row action"
  <ul data-orbit class="home-orbit">
   
    <li data-orbit-slide="home" class="slide-1 active">
      <div class="row">
        <div class="medium-6 columns brown">
          <h2>GCES’ Consultants provide a full range of government business capture, proposal development and project start-up support to help Government Contractors win and execute business.</h2>
          <a data-orbit-link="home-consultants" class="learnmore">Learn More &#187;</a>
        </div>
        <div class="medium-6 columns blue">
          <h2>GCES’ Mentors provide corporate and military career experience to support corporate development and special projects.</h2>
          <a data-orbit-link="home-mentors" class="learnmore">Learn More &#187;</a>
        </div>  
      </div>
    </li>
     <li data-orbit-slide="home-mentors" class="slide-2">
      <div class="row">
        <div class="medium-6 columns">
          <h2>GCES’ qualified Mentors typically support one project/company at a time on an as needed basis to</h2> 
          <ul>
            <li>Teach, assist, coach</li>
            <li>Support turn-around and recovery, transformation, and special projects</li>
          </ul>
          <%= link_to 'Register as a Mentor »', new_consultant_registration_path, class: 'register' %>
        </div>
        <div class="medium-6 columns blue">
          <h2 class="blued">GCES’ Mentors provide corporate and military career experience to support corporate development and special projects.</h2>

          <a data-orbit-link="home" class="back">Back &#187;</a>
        </div>  
      </div>
    </li>    

    <li data-orbit-slide="home-consultants" class="slide-3">
      <div class="row">
        <div class="medium-6 columns brown">
          <h2 class="browned">GCES’ Consultants provide a full range of government business capture, proposal development and project start-up support to help Government Contractors win and execute business.</h2>
          <a data-orbit-link="home" class="back">Back &#187;</a>
        </div>
        <div class="medium-6 columns compact">
          <h2>Our registered consultants fill needs in</h2>
          <div class="row">
            <div class="medium-6 columns">
              <ul>
                <li>Business capture</li>
                <li>Proposal management, writing, editing, reviewing</li>
                <li>Subject matter expertise</li>
                <li>Program Planning, Architecture and Management Expertise</li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <ul>
                <li>Technical expertise</li>
                <li>Project staffing</li>
                <li>Military expertise</li>
                <li>Mentoring</li>
                <li>Business Architecture</li>
                <li>Project start-up</li>
              </ul>
              <p><small>GCES is an approved Government contractor</small></p>
            </div>            
          </div>
          <%= link_to 'Register as a Consultant »', new_consultant_registration_path, class: 'register' %>
        </div>  
      </div>
    </li>
  </ul>
</div>
<div class="row coming">
  <div class="row">
    <div class="tablehead">
      <h4>Third party services available to Consultants and Government Contractors<span class="soon">coming soon!</span></h4>
    </div>
    <div class="tablebody">
      <div class="row">
        <div class="medium-2 columns">
          <p><strong>Client Company Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Specialized capture and proposal teams</li>
            <li>Process reengineering</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Capture Training</li>
            <li>Collaborative Environments</li>
            <li>Capture Process Tools</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <p><strong>Consultant Services</strong></p>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Legal Services</li>
            <li>Accounting, tax, bookkeeping</li>
            <li>Financial Services</li>
          </ul>
        </div>
        <div class="medium-2 columns">
          <ul>
            <li>Travel Services</li>
            <li>Investment &amp; Retirement</li>
            <li>Insurance Industry</li>
          </ul>        
        </div>      
      </div>
    </div>
  </div>
</div>
