<%# if @form.model.persisted?
     @url = project_path(@project)
   else
     @url = consultant_projects_path(@consultant, @project)
   end %>
<%= simple_form_for @form do |f| %>
    <%= f.error_notification %>
    <%= render 'shared/base_error', model: @form %>

    <div class="form-inputs">
      <div class="row">
        <div class="medium-12 columns">
          <%= f.input :consultant_id,
                      collection: Consultant.joins(:user).where('users.id !=?', current_user.id).map{|e|[e.full_name, e.id]},
                      as: :select %>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <%= f.input :project_name %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :proposed_start, date_options %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :proposed_end, date_options %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <div class="row collapse prefix-radius">
            <%= f.label :proposed_rate %>
            <div class="small-4 columns">
              <span class="prefix">$</span>
            </div>
            <div class="small-8 columns">
              <%= f.input_field :proposed_rate %>
            </div>
            <%= f.error :proposed_rate %>
          </div>
        </div>
        <div class="medium-6 columns">
          <%= f.input :project_location %>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns">
          <%= f.input :travel_authorization_id,
                      build_simple_form_dropdown(TravelAuthorization,
                                                 collection: TravelAuthorization.all) %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <div class="row">
        <div class="small-8 columns">
          <%= f.button :submit %>
        </div>
      </div>
    </div>
<% end %>
