<div class="row">
  <div class="medium-9 columns">
    <div class="row">
      <div class="medium-12 columns">
        <%= if consultant_signed_in?
              "#{project.user.full_name} - #{project.user.company.company_name}"
            end %>
        <% if user_signed_in? %>
            <%= link_to consultant_path(project.consultant) do %>
                <%= image_tag(project.consultant.profile_image.url(:thumb),
                              class: 'th profile-thumb-mini') %>
                <%= project.consultant.full_name %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= link_to project.project_name, project_path(project) %> -
        <%= project.contact_status.humanize.upcase %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <div>
          <%= link_to project.consultant.full_name, consultant_path(project.consultant) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <div>
          <strong>Start Date: </strong>
          <%= project.proposed_start.to_formatted_s(:month_day_and_year) %>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <%= if project.updated_at.today?
          project.updated_at.strftime('%l:%M %p')
        else
          project.updated_at.strftime('%_m/%-d')
        end %>
  </div>
</div>
