- content_for :header do
  = render 'layouts/registration_header'
.page-content
  %section
    %header.page-intro
      %h1.page-title Register Your Company
      %h2 Hello #{current_user.full_name.split.map(&:capitalize).join(' ')}!
      %p.page-description
        Add brief description here lorem ipsum sit amet quosque tandem set numa consect.
        Ipsum sit amet quosque tandem set numa consect, lorem ipsum sit amet quosque tandem set numa consect..
      %figure
        = image_tag 'infographics_buildings_company.png'
    = simple_form_for(@requested_company, method: :put,
      url: do_registration_companies_path, html: {class: 'theme-gces'}) do |f|
      = render 'shared/base_error', model: @requested_company

      = f.input :company_name, required: false, autofocus: true, placeholder: 'Company Name',
        wrapper: :custom_input, input_wrapper_html: { class: 'icon-building' }
      = f.input :work_phone, wrapper: :custom_grid_input, label: 'Work Phone Number', required: false,
        placeholder: '000', as: :work_phone_number
      = f.input :cell_phone, wrapper: :custom_grid_input, label: 'Cell Phone Number', required: false,
        placeholder: '000', as: :cell_phone_number
      = f.input :help_content, required: false, label: 'Tell us how we can help you?',
        wrapper: :custom_no_wrapper_input, as: :text
      = button_tag 'Register as Account Manager', type: 'submit',
        class: "button-cta button-primary icon-cr-arrow-right"
- content_for :footer do
  %footer#main-footer{:role => "contentinfo"}
    %p.site-credits &copy; 2015 Playground

- content_for :js do
  = javascript_include_tag "new/main"