<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><%= @sales_lead.first_name %> <%= @sales_lead.last_name %> from
  <%= @sales_lead.company_name %> is requesting access.

  Their reply to email is <%= @sales_lead.email %></p>

<p><%= @sales_lead.message %></p>

</body>
</html>
