%header
  %h1 GCES
%section
  %h2 Dear #{@account_manager.full_name},
  %p
    You were referred to Global Consultand Exchange Services (GCES) to act
    in the role of Account Manager for your company
    %strong.type-primary #{@account_manager.company.company_name}.
    Our website, lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis urna ac semper posuere.
  %p
    Your company,
    %strong.type-primary #{@account_manager.company.company_name},
    donec mauris purus, vulputate vel consequat non, consectetur vel enim.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Vestibulum ante ex, interdum sed arcu non.
  - unless @password == ''
    %p
      And Your account has been created
      Password is #{@password}

  %p Please click the button below to learn more and to start the registration process,
  = link_to 'Register as Account Manager', {:controller => "account_managers",
    :action => "register",
    :only_path => false, :access_token => @account_manager.access_token}, {:class => "button-alt"}
  %p We look forward to a sucessful parnership!
  %p.type-intro.type-primary Global Consultant Exchange Services (GCES)