<%= simple_form_for(resource, as: resource_name,
                    url: session_path(resource_name), html: {class: 'theme-gces'}) do |f| %>
    <%= render 'shared/base_error', model: resource %>
    <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', wrapper: :custom_input, input_wrapper_html: { class: 'icon-email' } %>
    <%= f.input :password, required: false, placeholder: 'Password', wrapper: :custom_input, input_wrapper_html: { class: 'icon-key' } %>
    <fieldset class="section align-center air">
      <div class="ui-checkbox medium">
        <%= f.check_box :remember_me, {id: 'logged-remember'}, true, false if devise_mapping.rememberable? %>
        <label for="logged-remember">Keep me logged in</label>
      </div>
    </fieldset>

    <div class="align-center">
      <%= button_tag 'Sign in', type: 'submit', class: "button-primary button-cta center" %>
    </div>
<% end %>
