<%= content_for :main_class, 'main' %>

<% content_for :header do %>
    <%= render 'layouts/header' %>
<% end %>

<header class="page-header">
  <h2>User Login</h2>
</header>
<div class="page-content">
  <%= render "devise/sessions/form" %>
  <%= render "devise/shared/links" %>
</div>
<% content_for :footer do %>
    <%= render 'layouts/footer' %>
<% end %>
<% content_for :js do %>
    <%= javascript_include_tag "dist_main" %>
<% end %>