<h2>My Address</h2>

<p><%= @address.address1 %></p>
<% if @address.address2 %>
<p><%= @address.address2 %></p>
<% end %>
<p><%= @address.city %></p>
<p><%= @address.state %></p>
<p><%= @address.zipcode %></p>
