<div class="row">
  <div class="small-12 columns">
    <ul class="breadcrumbs">
      <li class="
      <%= create_profile_helper(:basic_information) %>">
        <%= t('views.wizard.header.basic') %>
      </li>
      <li class="
      <%= create_profile_helper(:qualifications) %>">
        <%= t('views.wizard.header.qualifications') %>
      </li>
      <li class="
      <%= create_profile_helper(:other_information) %>">
        <%= t('views.wizard.header.other_info') %>
      </li>
      <li class="
      <%= create_profile_helper(:background_information) %>">
        <%= t('views.wizard.header.background_information') %>
      </li>
      <li class="
      <%= create_profile_helper(:project_history) %>">
        <%= t('views.wizard.header.project_history') %>
      </li>
    </ul>
  </div>
</div>
