<%= render 'header' %>

<%= simple_form_for @form, url: create_profile_path(:background_information), method: :put do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.error_notification %>
      </div>
    </div>
    <%= f.simple_fields_for :background do |b| %>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :citizen, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :convicted, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :parole, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :illegal_drug_use, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :illegal_purchase, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :illegal_prescription, as: :radio_buttons %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= b.input :information_is_correct, as: :boolean %>
          </div>
        </div>
    <% end %>
    <%= render 'footer',f: f %>
<% end %>
