<%= render 'header' %>

<%= simple_form_for @form, url: create_profile_path(:basic_information), method: :put do |f| %>
    <div class="row">
      <div class="small-12 columns">
        <%= f.error_notification %>
      </div>
    </div>
    <div class="wizard">
      <div class="row">
        <div class="medium-10 columns">
          <%= f.input :resume,
                      as: :file,
                      input_html: { accept: ".pdf,#{Consultant::RESUME_MIME_TYPES.join(',')}" } %>
          <p>
            <small class="red">
              <%= t('simple_form.labels.consultant.resume_instruction') %>
            </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 columns">
          <%= f.input :abstract, as: :text, input_html: { class: 'large', cols: 5, rows: 20 } %>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 columns">
          <%= f.input :profile_image,
                      as: :file,
                      input_html: { accept: ".jpg,.jpeg,.png,#{Consultant::PROFILE_IMAGE_TYPES.join(',')}" }%>
          <p>
            <small class="red">
              <%= t('simple_form.labels.consultant.image_instruction') %>
            </small>
          </p>
        </div>
      </div>
    </div>
    <%= render 'footer',f: f %>
<% end %>
