<%= render 'header' %>

<%= simple_form_for @form, url: create_profile_path(:project_history), method: :put do |f| %>
    <%= render 'shared/base_error', model: @form %>
    <div class="row">
      <div class="small-12 columns">
        <%= f.error_notification %>
      </div>
    </div>
    <%= render 'project_histories/project_history_fields', f: f %>
    <%= render 'footer',f: f %>
<% end %>
