<%= render 'header' %>

<%= simple_form_for @form, url: create_profile_path(:qualifications), method: :put do |f| %>
    <%= render 'shared/base_error', model: @form %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.error_notification %>
      </div>
    </div>
    <div class="wizard">
      <%= f.simple_fields_for :educations do |e| %>
          <%= render 'educations/education_fields', f: e %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t('views.profile.actions.new_education_html'),
                                    f,
                                    :educations,
                                    partial: 'educations/education_fields',
                                    class: 'button small' %>
      </div>
      <hr />
      <div class="row">
        <div class="medium-6 columns">
          <%= render 'profiles/certifications_fields', f: f %>
        </div>
        <div class="medium-6 columns">
          <%= render 'profiles/skills_fields', f: f %>
        </div>
      </div>
    </div>
    <%= render 'footer', f: f %>
<% end %>
