<%= simple_form_for(@form) do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.error_notification %>
      </div>
    </div>

  <div class="form-inputs">
    <%= f.association :customer_name, build_simple_form_dropdown(CustomerName) %>
    <%= f.association :project_type, build_simple_form_dropdown(ProjectType) %>
    <%= f.input :client_company %>
    <%= f.input :client_poc_name %>
    <%= f.input :client_poc_email %>
    <%= f.input :start_date, as: :date  %>
    <%= f.input :end_date, as: :date  %>
    <%= f.input :description %>
  </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>
