<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= project_history.positions.pluck(:label).join(', ') %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <span>
          <%= project_history.client_company %>
        </span>
      </div>
      <div class="small-6 columns">
        <span class="right">
          <%= project_history.customer_name.label if project_history.customer_name %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= t('simple_form.labels.project_history.project_type') %>:
        <%= project_history.project_type.label %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= date_to_formatted_s(project_history.start_date) %> -
        <%= date_to_formatted_s(project_history.end_date) || t('simple_form.now') %>
          (<%= date_in_words(project_history.start_date, project_history.end_date) %>)
      </div>
    </div>
    <% if user_is_gces? %>
      <div class="row">
        <div class="small-12 columns">
          <%= t('simple_form.labels.project_history.client_poc_name') %>:
          <%= project_history.client_poc_name %>
          <%= t('simple_form.labels.project_history.client_poc_email') %>:
          <%= project_history.client_poc_email %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 columns">
        <p><%= project_history.description %></p>
      </div>
    </div>
  </div>
</div>
