<h2 class="text-center">Projects</h2>
<div class="row">
  <div class="small-12 columns">
    <div class="page-actions right">
      <%= link_to t('views.project.actions.add'), new_project_history_path, class: 'button' %>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th><%= t('views.project.table.company_name') %></th>
      <th><%= t('views.project.table.edit') %></th>
      <th><%= t('views.project.table.delete') %></th>
    </tr>
    </thead>
    <% @projects.each do |project| %>
        <tr>
          <td><%= project.client_company %></td>
          <td><%= link_to t('views.project.actions.edit'), edit_project_history_path(project),
                          class: 'button tiny secondary' if policy(project).edit? %></td>
          <td><%= link_to t('views.project.actions.delete'),  project, class: 'button tiny alert',
                          method: :delete,
                          data: { confirm: t('views.project.confirmations.delete') } if
                          policy(project).destroy? %></td>
        </tr>
    <% end %>
  </table>
</div>

