<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= link_to root_path do %>
            <div id="logo"></div>
        <% end %>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>Menu</span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <% unless consultant_signed_in? %>
          <ul class="left">
            <% if development? %>
                <li><a href="#" data-reveal-id="debug-modal">Debug</a></li>
            <% end %>
            <% if user_signed_in? %>
            <li class="has-form">
              <div class="row collapse">
                <%= render 'layouts/search' %>
              </div>
            </li>
            <% end %>
          </ul>
      <% end %>

      <!-- Right Nav Section -->
      <ul class="right">
        <% if consultant_signed_in? %>
            <li class="has-dropdown">
              <%= link_to t('views.profile.actions.show'), profile_path %>
              <ul class="dropdown">
                <li><%= link_to t('views.profile.actions.edit'), edit_profile_path %></li>
                <li><%= link_to t('views.profile.actions.upload_photo_html'),
                                new_consultant_upload_image_path(current_consultant) %></li>
                <li><%= link_to t('views.profile.actions.upload_resume_html'),
                                new_consultant_upload_resume_path(current_consultant) %></li>
                <li><%= link_to t('views.project.actions.index'), project_histories_path %></li>
                <li class="divider"></li>
                <li><%= link_to t('views.password.actions.change_password'),
                                edit_consultant_registration_path %></li>
              </ul>
            </li>
            <li>
              <%= link_to 'Logout', destroy_consultant_session_path, method: :delete %>
            </li>
        <% elsif user_signed_in? %>
            <% if user_is_gces? %>
                <li>
                  <%= link_to t('views.consultant.actions.index'), consultants_path %>
                </li>
                <li>
                  <%= link_to t('views.company.actions.index'), companies_path %>
                </li>
            <% end %>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <li data-orbit-link="home">
              <a>Home</a>
            </li>
            <li data-orbit-link="about-us">
              <a>About Us</a>
            </li>    
            <li class="has-dropdown">
              <a href="#">Register</a>
              <ul class="dropdown">
                <li><%= link_to t('views.page.actions.company'), new_sales_lead_path %></li>
                <li>
                  <%= link_to t('views.page.actions.consultant'), new_consultant_registration_path %>
                </li>
              </ul>
            </li>        
            <li class="has-dropdown">
              <a href="#">Login</a>
              <ul class="dropdown">
                <li><%= link_to t('views.page.actions.company'), new_user_session_path %></li>
                <li><%= link_to t('views.page.actions.consultant'), new_consultant_session_path %></li>
              </ul>
            </li>
            <li data-orbit-link="contact-us">
              <a>Contact Us</a>
            </li>              

        <% end %>
      </ul>
    </section>
  </nav>
</div>
