<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'Global Consultant Exchange', root_path %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon">
      <a href="#">
        <span>Menu</span>
      </a>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <% if development? %>
          <li><a href="#" data-reveal-id="debug-modal">Debug</a></li>
      <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% unless consultant_signed_in? %>
          <li>
            <%= link_to 'Login', new_consultant_session_path %>
          </li>
          <li>
            <%= link_to 'Register', new_consultant_registration_path %>
          </li>
      <% else %>
          <li class="has-dropdown">
            <a href="#">Profile</a>
            <ul class="dropdown">
                <li><%= link_to t('views.phone.actions.index'), phones_path %></li>
              <% if current_consultant.address %>
                <li><%= link_to t('views.address.actions.edit'), edit_address_path %></li>
              <% else %>
                <li><%= link_to t('views.address.actions.add'), new_address_path %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to t('views.password.actions.change_password'),
                              edit_consultant_registration_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Logout', destroy_consultant_session_path, method: :delete %>
          </li>
      <% end %>
    </ul>
  </section>
</nav>
