<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Global Consultant Exchange" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'debug' if development? %>
    <%= stylesheet_link_tag controller_name if GlobalConsultantExchange::Application.assets
    .find_asset("#{controller_name}.css") %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({ google: ['Open+Sans:400italic,700italic,700,300,600,400:latin'] }) %>
  </head>

  <body class="home">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <div class="container">
        <div id="one" class="screen">
          <div class="row">
            <h2 class="intro">
              GCES offers government contractors a fully automated, web&#8209;based marketplace to 
              easily identify and quickly engage qualified consultants.
            </h2>
            <div class="row">
              <div class="one-fifth columns">
                <%= image_tag('icon-nationwide.png', alt: 'Nationwide') %>
                <p>Nationwide Consultant Database</p>
              </div>
              <div class="one-fifth columns">
                <%= image_tag('icon-search.png', alt: 'Search') %>
                <p>Efficient, Intelligent Search for Needed Expertise</p>
              </div>
              <div class="one-fifth columns">
                <%= image_tag('icon-communications.png', alt: 'Communication') %>
                <p>Direct Consultant&#8209;Government Contractor Communication</p>
              </div>
              <div class="one-fifth columns">
                <%= image_tag('icon-fast.png', alt: 'Fast') %>
                <p>Fast Consultant Engagement</p>
              </div>
              <div class="one-fifth columns">
                <%= image_tag('icon-quality.png', alt: 'Quality') %>
                <p>Consultant Quality Control</p>
              </div>        
            </div>
          </div>
        </div>
        <div class="row options">
          <div class="row">
            <div class="medium-4 columns">
              <%= link_to t('views.page.contractor_benefits_html'), contractor_benefits_path, 
              class: 'button' %>
            </div>
            <div class="medium-4 columns">
              <%= link_to t('views.page.how_we_do_it_html'), how_we_do_it_path, 
              class: 'button' %>
            </div>
            <div class="medium-4 columns">
              <%= link_to t('views.page.consultant_benefits_html'), consultant_benefits_path, 
              class: 'button' %>
            </div>
          </div>
        </div>
        <div class="row action"
          <ul data-orbit class="home-orbit">
            <%= yield %>
          </ul>
        </div>                
        <div class="row coming">
          <div class="row">
            <div class="tablehead">
              <h4>Third party services available to Consultants and Government Contractors
                <span class="soon">coming soon!</span></h4>
            </div>
            <div class="tablebody">
              <div class="row">
                <div class="medium-2 columns">
                  <p><strong>Client Company Services</strong></p>
                </div>
                <div class="medium-2 columns">
                  <ul>
                    <li>Specialized capture and proposal teams</li>
                    <li>Process reengineering</li>
                  </ul>
                </div>
                <div class="medium-2 columns">
                  <ul>
                    <li>Capture Training</li>
                    <li>Collaborative Environments</li>
                    <li>Capture Process Tools</li>
                  </ul>
                </div>
                <div class="medium-2 columns">
                  <p><strong>Consultant Services</strong></p>
                </div>
                <div class="medium-2 columns">
                  <ul>
                    <li>Legal Services</li>
                    <li>Accounting, tax, bookkeeping</li>
                    <li>Financial Services</li>
                  </ul>
                </div>
                <div class="medium-2 columns">
                  <ul>
                    <li>Travel Services</li>
                    <li>Investment &amp; Retirement</li>
                    <li>Insurance Industry</li>
                  </ul>        
                </div>      
              </div>
            </div>
          </div>
        </div>

        <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag controller_name if GlobalConsultantExchange::Application.assets
    .find_asset("#{controller_name}.js") %>
    <%= render 'layouts/debug' if development? %>
  </body>
</html>
