<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GCES</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application_new' %>
    <%= stylesheet_link_tag 'application_new' %>
    <%= csrf_meta_tags %>
    <!-- Mapbox Specific -->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />

    <!-- Mapbox Leaflet MarkerCluster -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
</head>
<body>
<%= yield %>
<div class="container">
  <div class="row">
    <%= render 'layouts/flash' %>
  </div>
</div>
</body>
</html>

